services:

{% include 'roles/docker-central-database/templates/services/' + database_type + '.yml.j2' %}

  application:
    image: "{{ applications[application_id].images.friendica }}"
    {% include 'roles/docker-compose/templates/services/base.yml.j2' %}
    volumes:
      - html:{{ friendica_application_base }}
      - data:/var/www/data # I assume that this one is unnessecarry
      - {{ friendica_host_ldap_config }}:{{ friendica_docker_ldap_config }}:ro 
    ports:
      - "127.0.0.1:{{ports.localhost.http[application_id]}}:80"

{% include 'roles/docker-compose/templates/services/msmtp_curl_test.yml.j2' %}

{% include 'templates/docker/container/networks.yml.j2' %}
{% include 'templates/docker/container/depends-on-just-database.yml.j2' %}

{% include 'templates/docker/compose/volumes.yml.j2' %}
  data:
  html:

{% include 'templates/docker/compose/networks.yml.j2' %}