{% include 'roles/docker-compose/templates/base.yml.j2' %}

  application:
    image: "{{ applications[application_id].images.keycloak }}"
    container_name: {{container_name}}
    command: start {% if applications[application_id].import_realm | bool %}--import-realm{% endif %}
    {% include 'roles/docker-container/templates/base.yml.j2' %}
    ports:
      - "{{ keycloak_server_host }}:8080"
    volumes:
      - "{{import_directory_host}}:{{import_directory_docker}}"
{% include 'roles/docker-container/templates/depends_on_dmbs.j2' %}
{% include 'roles/docker-compose/templates/networks.yml.j2' %}
{% set container_port = 9000 %}
{% set container_healthcheck = 'health/live' %}
{% include 'roles/docker-container/templates/healthcheck/tcp.yml.j2' %}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}