# Concerning configuration options checkout:
# https://chromeenterprise.google/policies/#ExtensionSettings
chromium:
  password_manager_enabled: false
  default_installation_mode: allowed
  plugins:
    # UBlock Origin
    - id: "cjpalhdlnbpafiamejdnhcphjbkeiagm"
      update_url: "https://clients2.google.com/service/update2/crx"
      incognito: true
      installation_mode: "force_installed"

    # KeepassXC
    - id: "ddkjiahejlhfcafbddmgiahcphecmpfh"
      update_url: "https://clients2.google.com/service/update2/crx"
      incognito: false
      installation_mode: "force_installed"

    # Dark Mode Extension
    - id: "dmghijelimhndkbmpgbldicpogfkceaj"
      update_url: "https://clients2.google.com/service/update2/crx"
      incognito: true
      installation_mode: "force_installed"
