{
  "ExtensionInstallForcelist": [
    {% for plugin in applications[application_id].plugins -%}
      "{{ plugin }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "PasswordManagerEnabled": false
}