# Set default values for all following accounts.
defaults
auth           on
logfile        ~/.msmtp.log
tls_starttls   {{ 'on' if system_email.start_tls else 'off' }}
{% if system_email.tls %}
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
{% else %}
tls            off
{% endif %}

account        system_email
host           {{ system_email.host }}
port           {{ system_email.port }}
from           {{ users['no-reply'].email }}
user           {{ users['no-reply'].email }}
password       {{ users['no-reply'].mailu_token }}

account default : system_email