---
{% if database_type | bool %}
{% raw %}
# Default: Loading; Docker, Database and Reverse Proxy
- name: "load docker, db and proxy for '{{application_id}}'"
  include_role: 
    name: cmp-db-docker-proxy
  when: run_once_docker_{% endraw %}{{ application_id }}{% raw %} is not defined
{% endraw %}
{% else %}
{% raw %}
- name: "load docker, proxy for '{{application_id}}'"
  include_role: 
    name: cmp-db-docker-proxy
  when: run_once_docker_{% endraw %}{{ application_id }}{% raw %} is not defined
{% endraw %}
{% endif %}
{% raw %}
- name: run the {% endraw %}{{ application_id }}{% raw %} tasks once
  set_fact:
    run_once_docker_{% endraw %}{{ application_id }}{% raw %}: true
  when: run_once_docker_{% endraw %}{{ application_id }}{% raw %} is not defined
{% endraw %}