server_name: "{{matrix_server_name}}"
pid_file: /data/homeserver.pid
listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false
database:
  name: psycopg2
  args:
    user: "{{database_username}}"
    password: "{{database_password}}"
    database: "{{database_name}}"
    host: "{{database_host}}"
    cp_min: 5
    cp_max: 10
log_config:                     "/data/{{domain_matrix_synapse}}.log.config"
media_store_path:               "/data/media_store"
registration_shared_secret:     "{{matrix_registration_shared_secret}}"
report_stats:                   true
macaroon_secret_key:            "{{matrix_macaroon_secret_key}}"
form_secret:                    "{{matrix_form_secret}}"
signing_key_path:               "/data/{{domain_matrix_synapse}}.signing.key"
web_client_location:            "https://{{element_domain}}"
public_baseurl:                 "https://{{synapse_domain}}"
trusted_key_servers:
  - server_name: "matrix.org"
admin_contact: 'mailto:{{administrator_email}}'

email:
  smtp_host:                    "{{system_email_host}}"
  smtp_port:                    "{{system_email_smtp_port}}"
  smtp_user:                    "{{system_email_from}}"
  smtp_pass:                    "{{system_email_password}}"
  #force_tls:                    true
  #require_transport_security:   true
  enable_tls:                   "{{ system_email_tls | upper }}"
  notif_from:                   "Your Friendly %(app)s homeserver <{{system_email_from}}>"
  app_name:                     "Matrix on {{synapse_domain}}"
  enable_notifs:                true
  notif_for_new_users:          false
  client_base_url:              "{{domain_matrix_synapse}}"
  validation_token_lifetime:    15m

app_service_config_files:
{% for item in bridges %}
  - {{registration_file_folder}}{{item.bridge_name}}.registration.yaml
{% endfor %}