[Unit]
Description=set MTU 
Before=wg-quick@wg0.cymais.service

[Service]
Type=oneshot
ExecStart=bash /usr/local/bin/set-mtu.sh

[Install]
RequiredBy=wg-quick@wg0.cymais.service