applications:
{% if (portfolio_menu_data.categorized is mapping and portfolio_menu_data.categorized | length > 0) 
   or (portfolio_menu_data.uncategorized is sequence and portfolio_menu_data.uncategorized | length > 0) %}

    - name: Applications
      description: Browse, configure and launch all available applications
      icon:
          class: fa fa-th-large
      children:

    {# Render all categories #}
    {% for category, apps in portfolio_menu_data.categorized.items() %}

      - name: {{ category }}
        description: {{ portfolio_menu_categories[category].description }}
        icon:
          class: {{ portfolio_menu_categories[category].icon }}
        children:
        
        {% for app in apps %}

          - name: {{ app.title }}
            description: {{ app.text }}
            icon: {{ app.icon }}
            url: {{ app.url }}
            iframe: {{ app.iframe }}
            
            {% if app.title == 'Keycloak' %}

            children:
              - name: Administration
                description: Access the central admin console
                icon:
                  class: fa-solid fa-shield-halved
                url: https://{{domains | get_domain('keycloak')}}/admin
                iframe: {{ applications | is_feature_enabled('portfolio_iframe','keycloak') }}
              - name: Profile
                description: Update your personal admin settings
                icon:
                  class: fa-solid fa-user-gear
                url: https://{{ domains | get_domain('keycloak') }}/realms/{{oidc.client.id}}/account
                iframe: {{ applications | is_feature_enabled('portfolio_iframe','keycloak') }}
              - name: Logout
                description: End your admin session securely
                icon:
                  class: fa-solid fa-right-from-bracket
                url: https://{{ domains | get_domain('keycloak') }}/realms/{{oidc.client.id}}/protocol/openid-connect/logout
                iframe: false

            {% endif %}

        {% endfor %}

    {% endfor %}

{# Render Uncategorized #}
{% if portfolio_menu_data.uncategorized %}

      - name: Uncategorized
        description: Tools without a defined category
        icon:
          class: fa-solid fa-question
        children:

{% for app in portfolio_menu_data.uncategorized %}

        - name: {{ app.title }}
          description: {{ app.text }}
          icon: {{ app.icon }}
          url: {{ app.url }}
          iframe: {{ app.iframe }}

{% endfor %}

{% endif %}

{% endif %}
