  
  footer:
    children:
#    - link: support

{% if "sphinx" in group_names %}   

    - name: Documentation
      description: Access our comprehensive documentation and support resources to help you get the most out of the software.
      icon:
        class: fas fa-book
      url: https://{{domains | get_domain('sphinx')}}
      iframe: {{ applications | is_feature_enabled('port-ui-desktop','sphinx') }}

{% endif %}

{% if "presentation" in group_names %}   

    - name: Slides
      description: Checkout the presentation
      icon:
        class: "fas fa-chalkboard-teacher"
      url: https://{{domains | get_domain('presentation')}}
      iframe: {{ applications | is_feature_enabled('port-ui-desktop','presentation') }}

{% endif %}
    - name: Solutions
      description: "Software and IT Infrastructure Solutions by Kevin Veen-Birkenbach" 
      icon:
          class: fa-solid fa-rocket
      url: "https://cybermaster.space/"
      iframe: false

{% if service_provider.legal.source_code is defined and service_provider.legal.source_code != "" %}
    - name: Source Code
      description: Explore {{ 'our' if service_provider.type == 'legal' else 'my' }} code.
      icon:
        class: fa-solid fa-code
      url: "{{service_provider.legal.source_code}}"
{% endif %}
    - link: followus
    - link: contact
    - name: Imprint
      description: Check out the imprint information
      icon:
          class: fa-solid fa-scale-balanced
      url: "{{service_provider.legal.imprint}}"
      iframe: true
