support:
    name: Support Us
    description: "Discover all the ways you can support our work."
    icon:
      class: fa-solid fa-hands-helping
    children:
      - name: Buy me a Coffee
        description: "Support our work with a coffee – every cup helps!"
        icon:
          class: fa-solid fa-mug-hot
        url: https://s.veen.world/buymeacoffee
      - name: Patreon
        description: "Become a member and support me monthly with exclusive content."
        icon:
          class: fa-brands fa-patreon
        url: https://s.veen.world/patreon
      - name: PayPal
        description: "Donate to our open source projects with a one-time or monthly PayPal contribution."
        icon:
          class: fa-brands fa-paypal
        url: https://s.veen.world/paypaldonate
      - name: GitHub Sponsors
        description: "Directly support our projects through GitHub Sponsors."
        icon:
          class: fa-brands fa-github
        url: https://s.veen.world/
