#default
server
{
  server_name {{domain}};
  
  {% include 'roles/letsencrypt/templates/ssl_header.j2' %}

  {% if nginx_matomo_tracking_active | default(False) %}
    {% include 'roles/nginx-matomo-tracking/templates/matomo-tracking.conf.j2' %}
  {% endif %}

  charset utf-8;
  
  location /
  {
    root {{nginx_homepage_root}};
    index index.html index.htm;
  }
}
