- name: "restart wireguard"
  systemd:
    name: wg-quick.cymais@wg0.service
    state: restarted
    enabled: yes
    daemon_reload: yes

- name: "reload sysctl configuration"
  shell: "sysctl --load='/etc/sysctl.d/wireguard-ip.conf'"
