{% include 'roles/docker-compose/templates/base.yml.j2' %}

  application:
    image: "{{ applications | get_app_conf(application_id, 'images.openldap', True) }}"
    container_name: {{ applications | get_app_conf(application_id, 'hostname', True) }}
{% include 'roles/docker-container/templates/base.yml.j2' %}
{% if applications | get_app_conf(application_id, 'network.public', True) | bool or applications | get_app_conf(application_id, 'network.local', True) | bool %}
    ports:
      - 127.0.0.1:{{ports.localhost.ldap['svc-db-openldap']}}:{{ldap_docker_port}}
{% endif %}
    volumes:
      - 'data:/bitnami/openldap'
      - '{{ldif_host_path}}:{{ldif_docker_path}}:ro'
    healthcheck:
      test: >
        bash -c '
        ldapsearch -x -H ldap://localhost:{{ ldap_docker_port }} \
          -D "{{ ldap.dn.administrator.data }}" -w "{{ ldap.bind_credential }}" -b "{{ ldap.dn.root }}" > /dev/null \
        && ldapsearch -Y EXTERNAL -H ldapi:/// \
          -b cn=config "(&(objectClass=olcOverlayConfig)(olcOverlay=memberof))" \
        | grep "olcOverlay:" | grep -q "memberof"
        '
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  data:

{% include 'roles/docker-compose/templates/networks.yml.j2' %}