server {
    listen {{ ports.public.ldaps['svc-db-openldap'] }}ssl;
    proxy_pass 127.0.0.1:{{ ports.localhost.ldap['svc-db-openldap'] }};
    
    {% include 'roles/srv-web-7-7-letsencrypt/templates/ssl_credentials.j2' %}
}
