{# This template needs to be included in docker-compose.yml containers, which depend on a database, redis and optional additional volumes #}
{% if applications | is_feature_enabled('central_database', application_id)
      and not (applications[application_id].docker.services.redis.enabled
               | default(false)
               | bool) %}
    depends_on: []
{% else %}
    depends_on:
{% if not applications | is_feature_enabled('central_database', application_id) %}
      database:
        condition: service_healthy
{% endif %}
{% if applications[application_id].docker.services.redis.enabled | default(false) | bool %}
      redis:
        condition: service_healthy
{% endif %}
{% endif %}
{{ "\n" }}
