{# This template needs to be included in docker-compose.yml containers #}
    networks:
{% if applications | get_app_conf(application_id, 'features.central_database', False)| bool and database_type is defined %}
      {{ applications[ 'svc-db-' ~ database_type ].network }}:
{% endif %}
{% if applications | get_app_conf(application_id, 'features.ldap', False) | bool and applications['svc-db-openldap'].network.docker|bool %}
      svc-db-openldap:
{% endif %}
      default:
{{ "\n" }}