{% include 'roles/docker-compose/templates/base.yml.j2' %}
  logout:
    {% include 'roles/docker-container/templates/base.yml.j2' %}
    build:
      context: {{ docker_repository_path }}
      dockerfile: Dockerfile
    image: logout
    container_name: logout
    ports:
      - 127.0.0.1:{{ports.localhost.http[application_id]}}:{{ container_port }}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/healthcheck/tcp.yml.j2' %}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}