[Unit]
Description=starts pull remote backup timer

[Timer]
OnCalendar={{on_calendar_backup_remote_to_local}}
RandomizedDelaySec={{randomized_delay_sec}}
Persistent=false

[Install]
WantedBy=timers.target
