{% include 'roles/docker-compose/templates/base.yml.j2' %}

  application:
{% set container_port = 80 %}
    image: dpage/pgadmin4:{{applications[application_id].version}}
    container_name: pgadmin
{% include 'roles/docker-container/templates/base.yml.j2' %}
    ports:
      - "127.0.0.1:{{ports.localhost.http[application_id]}}:80"
{% include 'roles/docker-container/templates/depends_on_dmbs.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/healthcheck/wget.yml.j2' %}
    volumes:
      - "data:/var/lib/pgadmin"
{% if applications[application_id].server_mode | bool %}
      - "{{ pgadmin_host_server_file }}:{{ pgadmin_docker_server_file }}"
      - "{{ pgadmin_host_password_file }}:{{ pgadmin_docker_password_file }}"
{% endif %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  data:

{% include 'roles/docker-compose/templates/networks.yml.j2' %}