version: '3.2'
services:
  web:
    image: attendize_web:latest
    ports:
    - "{{http_port}}:80"
    volumes:
      - .:/usr/share/nginx/html
      - .:/var/www
{% include 'templates/docker-container-depends-on.yml.j2' %}
      maildev:
      redis:
      worker:
    env_file:
      - ./.env
{% include 'templates/docker-container-networks.yml.j2' %}

  worker:
    image: attendize_worker:latest
{% include 'templates/docker-container-depends-on.yml.j2' %}
      maildev:
      redis:
{% include 'templates/docker-container-networks.yml.j2' %}
    volumes:
      - .:/usr/share/nginx/html
      - .:/var/www

{% include 'templates/docker-service-{{ database_type }}.yml.j2' %}

  maildev:
    image: maildev/maildev
    ports:
      - "{{ mail_interface_http_port }}:1080"
{% include 'templates/docker-container-networks.yml.j2' %}
{% include 'templates/docker-container-depends-on.yml.j2' %}
      
{% include 'templates/docker-service-redis.yml.j2' %}

{% include 'templates/docker-compose-volumes.yml.j2' %}
  redis:

{% include 'templates/docker-compose-networks.yml.j2' %}