{% include 'roles/docker-compose/templates/base.yml.j2' %}

  web:
    image: "{{ applications[application_id].images.web }}"
    ports:
    - "{{ports.localhost.http[application_id]}}:80"
    volumes:
      - .:/usr/share/nginx/html
      - .:/var/www
{% include 'roles/docker-container/templates/depends_on_dmbs.j2' %}
      maildev:
      worker:
    env_file:
      - ./.env
{% include 'templates/docker/container/networks.yml.j2' %}

  worker:
    image: "{{ applications[application_id].images.worker }}"
{% include 'roles/docker-container/templates/depends_on_dmbs.j2' %}
      maildev:
{% include 'templates/docker/container/networks.yml.j2' %}
    volumes:
      - .:/usr/share/nginx/html
      - .:/var/www

{% include 'templates/docker/compose/volumes.yml.j2' %}
  redis:

{% include 'templates/docker/compose/networks.yml.j2' %}