version: '3.2'
services:
  web:
    image: attendize_web:latest
    ports:
    - "{{http_port}}:80"
    volumes:
      - .:/usr/share/nginx/html
      - .:/var/www
{% include 'templates/docker-depends-on-central-database.yml.j2' %}
      maildev:
      redis:
      worker:
    env_file:
      - ./.env
{% include 'templates/docker-networks-for-container.yml.j2' %}

  worker:
    image: attendize_worker:latest
{% include 'templates/docker-depends-on-central-database.yml.j2' %}
      maildev:
      redis:
{% include 'templates/docker-networks-for-container.yml.j2' %}
    volumes:
      - .:/usr/share/nginx/html
      - .:/var/www

{% include 'templates/docker-{{ database_type }}-service.yml.j2' %}

  maildev:
    image: maildev/maildev
    ports:
      - "{{ mail_interface_http_port }}:1080"
{% include 'templates/docker-networks-for-container.yml.j2' %}
{% include 'templates/docker-depends-on-central-database.yml.j2' %}
      
{% include 'templates/docker-redis-service.yml.j2' %}

volumes:
  redis:
{% include 'templates/docker-database-volume.yml.j2' %}

{% include 'templates/docker-networks-for-role.yml.j2' %}