[Unit]
Description=starts backups-cleanup.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=12h
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
