services:

{% include 'roles/docker-central-database/templates/services/' + database_type + '.yml.j2' %}

   application: 
     depends_on:
       - db
     image: apache/syncope:{{ applications[application_id].version }}
     ports:
       - "18080:8080"
     restart: always
{% include 'roles/docker-compose/templates/services/base.yml.j2' %}
     environment:
       SPRING_PROFILES_ACTIVE: docker,postgresql,saml2
       OPENJPA_REMOTE_COMMIT: sjvm
       SERVICE_DISCOVERY_ADDRESS: {{ domains | get_url(application_id, web_protocol) }}/{{syncope_paths[rest]}}/
    # database variablen auslesen

   console: 
     depends_on:
       - syncope
     image: apache/syncope-console:{{ applications[application_id].version }}
     ports:
       - "28080:8080"
     restart: always
     environment:
       SPRING_PROFILES_ACTIVE: docker,saml2
       SERVICE_DISCOVERY_ADDRESS: {{ domains | get_url(application_id, web_protocol) }}/{{syncope_paths[console]}}/

   enduser: 
     depends_on:
       - syncope
     image: apache/syncope-enduser:{{ applications[application_id].version }}
     ports:
       - "38080:8080"
     restart: always
     environment:
       SPRING_PROFILES_ACTIVE: docker,saml2
       SERVICE_DISCOVERY_ADDRESS: {{ domains | get_url(application_id, web_protocol) }}/{{syncope_paths[enduser]}}/
       