{% include 'roles/docker-compose/templates/base.yml.j2' %}
  application:
    # Seems like image tag got lost. @todo Check and implement if necessary
      log_driver: journald
      restart: "{{docker_restart_policy}}"
      depends_on:
        - database
      volumes:
        - "mediawiki-data:/var/www/html/"
      ports:
        - "127.0.0.1:{{ports.localhost.http[application_id]}}:80"
{% include 'roles/docker-compose/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/depends_on_dmbs.j2' %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  data:

{% include 'roles/docker-compose/templates/networks.yml.j2' %}