version: 1

formatters:
  precise:
    format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(request)s - %(message)s'

handlers:
  file:
    class: logging.handlers.RotatingFileHandler
    formatter: precise
    filename: /data/{{domains.matrix.synapse}}.homeserver.log
    maxBytes: 10485760
    backupCount: 3
  console:
    class: logging.StreamHandler
    formatter: precise

loggers:
  synapse:
    level: INFO
    handlers: [file, console]

root:
  level: INFO
  handlers: [file, console]
