services:
  cymais-presentation:
    build:
      context:    {{ path_cymais_presentation_output.stdout }}
      dockerfile: {{ path_cymais_presentation_output.stdout }}/Dockerfile
    ports:
      - "127.0.0.1:{{ports.localhost.http[application_id]}}:5000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:5000"]
      interval: 1m
      timeout: 10s
      retries: 3
    volumes:
      - {{ path_cymais_presentation_output.stdout }}:/app
      - {{ path_cymais_output.stdout }}:/source
{% include 'roles/docker-compose/templates/services/base.yml.j2' %}
{% include 'templates/docker/container/networks.yml.j2' %}

{% include 'templates/docker/compose/networks.yml.j2' %}

