services:

{% include 'roles/docker-oauth2-proxy/templates/container.yml.j2' %}

  application:
    container_name: {{ application_id }}
    logging:
      driver: journald
    restart: {{docker_restart_policy}}
    image: ghcr.io/ldapaccountmanager/lam:{{applications[application_id].version}}
    ports:
      - 127.0.0.1:{{ports.localhost.http[application_id]}}:80 
{% include 'roles/docker-compose/templates/services/base.yml.j2' %}
{% include 'templates/docker/container/networks.yml.j2' %}

{# include 'templates/docker/compose/volumes.yml.j2' #}

{% include 'templates/docker/compose/networks.yml.j2' %}

services:
  fusiondirectory:
    image: tiredofit/fusiondirectory:latest
    container_name: fusiondirectory
    ports:
      - "8080:80"       # Exponiert den Webservice (HTTP) des Containers auf Port 8080 des Hosts
    environment:
      # FusionDirectory spezifische Einstellungen
      - FUSIONDIRECTORY_ADMIN_USER=admin
      - FUSIONDIRECTORY_ADMIN_PASS=yourFusionDirPassword
      # LDAP-Verbindungsdaten (diese werden von FusionDirectory benötigt, um sich mit Ihrem LDAP-Server zu verbinden)
      - LDAP_HOST=ldap.example.com
      - LDAP_ADMIN_DN=cn=admin,dc=example,dc=com
      - LDAP_ADMIN_PASS=yourLDAPPassword
      - LDAP_BASE_DN=dc=example,dc=com
      # Optional: Falls TLS für die LDAP-Verbindung genutzt werden soll, können Sie diese Variablen definieren:
      #- ENABLE_TLS=TRUE
      #- TLS_CRT_FILENAME=cert.pem
      #- TLS_KEY_FILENAME=key.pem
      #- TLS_CA_CRT_FILENAME=ca_cert.pem
    volumes:
      # Hier können Sie persistente Daten ablegen – z. B. individuelle Konfigurationen oder benutzerdefinierte Plugins
      - fusiondirectory_data:/assets/fusiondirectory
    restart: always

volumes:
  fusiondirectory_data:
