{# The Linebreak here are intentional due to tab bugs #}
---
cards:
{{ portfolio_cards | to_nice_yaml(indent=2) }}

{% include 'menu/applications.yml.j2' %}
{% include 'menu/followus.yml.j2' %}
{% include 'menu/contact.yml.j2' %}
{% include 'menu/support.yml.j2' %}

platform:
  titel:    {{service_provider.platform.titel}}
  subtitel: {{service_provider.platform.subtitel}}
  logo:
    source: {{service_provider.platform.logo}}
  favicon:
    source: {{service_provider.platform.favicon}}
company:
  titel: {{service_provider.company.titel}}
  subtitel: {{service_provider.company.slogan}}
  logo:
    source: {{service_provider.company.logo}}
  address:
{{ service_provider.company.address | to_nice_yaml(indent=4) | indent(4, true) }}
  imprint_url: {{service_provider.legal.imprint}}
navigation:

{% include 'menu/header.yml.j2' %}

{% include 'menu/footer.yml.j2' %}