{# The Linebreak here are intentional due to tab bugs #}
---
accounts:
  name: Online Presence
  description: Discover {{ 'our' if service_provider.type == 'legal' else 'my' }} online presence.
  icon:
      class: fa-solid fa-users
  children:
  - name: Publishing Channels
    description: Platforms where I share content.
    icon:
      class: fas fa-newspaper

{% if ["mastodon", "bluesky"] | any_in(group_names) %}  

    children:
    - name: Microblogs
      description: Stay updated with {{ 'our' if service_provider.type == 'legal' else 'my' }} microblogs.
      icon:
        class: fa-solid fa-pen-nib
      children:
{% if service_provider.contact.mastodon is defined and service_provider.contact.mastodon != "" %}


      - name: Mastodon
        description: Follow {{ 'our' if service_provider.type == 'legal' else 'my' }} updates on Mastodon.
        icon:
          class: fa-brands fa-mastodon
        url: "https://{{ service_provider.contact.mastodon.split('@')[2] }}/@{{ service_provider.contact.mastodon.split('@')[1] }}"
        identifier: "{{service_provider.contact.mastodon}}"
        iframe: {{ applications | get_landingpage_iframe_enabled('mastodon') }}

{% endif %}
{% if service_provider.contact.bluesky is defined and service_provider.contact.bluesky != "" %}


      - name: Bluesky
        description: Follow {{ 'our' if service_provider.type == 'legal' else 'my' }} on Bluesky.
        icon:
          class: fa-brands fa-bluesky
        alternatives:
        - link: accounts.publishingchannels.microblogs.mastodon
        identifier: "{{service_provider.contact.bluesky}}"

{% endif %}
{% endif %}
{% if service_provider.contact.pixelfed  is defined and service_provider.contact.pixelfed  != "" %}

    - name: Pictures
      description: Explore {{ 'our' if service_provider.type == 'legal' else 'my' }} photo gallery on Pixelfed.
      icon:
          class: fa-solid fa-camera
      identifier: "{{service_provider.contact.pixelfed}}"
      url: "https://{{ service_provider.contact.pixelfed.split('@')[2] }}/@{{ service_provider.contact.pixelfed.split('@')[1] }}"
      iframe: {{ applications | get_landingpage_iframe_enabled('pixelfed') }}

{% endif %}
{% if service_provider.contact.peertube  is defined and service_provider.contact.peertube  != "" %}


    - name: Peertube
      description: Discover {{ 'our' if service_provider.type == 'legal' else 'my' }} videos on Peertube.
      icon:
        class: fa-solid fa-video
      identifier: "{{service_provider.contact.peertube}}"
      url: "https://{{ service_provider.contact.peertube.split('@')[2] }}/@{{ service_provider.contact.peertube.split('@')[1] }}"
      iframe: {{ applications | get_landingpage_iframe_enabled('peertube') }}

{% endif %}
{% if service_provider.contact.wordpress is defined and service_provider.contact.wordpress != "" %}


    - name: Blog
      description: Read {{ 'our' if service_provider.type == 'legal' else 'my' }} articles and stories.
      icon:
        class: fa-solid fa-blog
      identifier: "{{service_provider.contact.wordpress}}"
      url: "https://{{ service_provider.contact.wordpress.split('@')[2] }}/@{{ service_provider.contact.wordpress.split('@')[1] }}"
      iframe: {{ applications | get_landingpage_iframe_enabled('wordpress') }}

{% endif %}
{% if service_provider.contact.source_code is defined and service_provider.contact.source_code != "" %}

    
    - name: Our Code
      description: Explore {{ 'our' if service_provider.type == 'legal' else 'my' }} code.
      icon:
        class: fa-solid fa-code
      url: "{{service_provider.legal.source_code}}"

{% endif %}
{% if service_provider.contact.friendica is defined and service_provider.contact.friendica != "" %}


  - name: Social Network
    description: Visit {{ 'our' if service_provider.type == 'legal' else 'my' }} friendica profile
    icon:
      class: fas fa-network-wired
    identifier: "{{service_provider.contact.friendica}}"
    url: "https://{{ service_provider.contact.friendica.split('@')[2] }}/@{{ service_provider.contact.friendica.split('@')[1] }}"
    iframe: {{ applications | get_landingpage_iframe_enabled('friendica') }}

{% endif %}

  - link: navigation.header.contact

cards:

{% if "matomo" in group_names %}

- icon: 
    class: "fa-solid fa-chart-line"
  title: "Matomo Analytics"
  text: "Experience the power of Matomo, an innovative open-source analytics platform that delivers real-time insights, robust visitor tracking, and privacy-first features to elevate your website performance. Dive into actionable data with unmatched precision and clarity!"
  url: https://{{domains.matomo}}
  link_text: "Discover Matomo Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('matomo') }}

{% endif %}
{% if "ldap" in group_names %}

- icon: 
    class: "fa-solid fa-users"
  title: "LDAP Directory"
  text: "Unleash the potential of centralized identity management with our vibrant LDAP solution. Enjoy seamless authentication, efficient user management, and enhanced security that empowers your organization to stay connected, agile, and ahead of the curve in digital transformation."
  url: https://{{domains.ldap}}
  link_text: "Empower Your Network!"
  iframe: {{ applications | get_landingpage_iframe_enabled('ldap') }}

{% endif %}
{% if "keycloak" in group_names %}

- icon: 
    class: "fa-solid fa-lock"
  title: "Keycloak Identity"
  text: "Step into a secure future with Keycloak! Our dynamic identity and access management solution offers streamlined SSO capabilities, robust security measures, and an intuitive user experience that propels your applications to unprecedented heights of performance and reliability."
  url: https://{{domains.keycloak}}
  link_text: "Secure Your Future Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('keycloak') }}

{% endif %}
{% if "nextcloud" in group_names %}

- icon: 
    class: "fa-solid fa-cloud"
  title: "Nextcloud"
  text: "Elevate your collaboration with Nextcloud, a vibrant self-hosted cloud solution designed for dynamic file sharing, seamless communication, and effortless teamwork. Embrace unparalleled control, flexibility, and a boosted digital workspace that adapts to your every need."
  url: https://{{domains.nextcloud}}
  link_text: "Experience Nextcloud Today!"
  iframe: {{ applications | get_landingpage_iframe_enabled('nextcloud') }}

{% endif %}
{% if "gitea" in group_names %}

- icon: 
    class: "fa-solid fa-code"
  title: "Gitea"
  text: "Boost your development journey with Gitea, a lightweight and energetic self-hosted Git service that offers efficient code collaboration, intuitive version control, and an agile environment for your projects. Ignite your coding spirit, innovate faster, and code with confidence!"
  url: https://{{domains.gitea}}
  link_text: "Ignite Your Code Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('gitea') }}

{% endif %}
{% if "wordpress" in group_names %}

- icon: 
    class: "fa-solid fa-blog"
  title: "WordPress"
  text: "Unleash your creative potential with WordPress, a dynamic platform that empowers you to build, manage, and scale stunning websites and blogs effortlessly. Experience an ever-evolving ecosystem that inspires innovation and drives digital success with every click."
  url: https://{{domains.wordpress}}
  link_text: "Launch Your Site Today!"
  iframe: {{ applications | get_landingpage_iframe_enabled('wordpress') }}


{% endif %}
{% if "mediawiki" in group_names %}

- icon: 
    class: "fa-solid fa-book"
  title: "MediaWiki"
  text: "Empower your knowledge base with MediaWiki, a versatile and collaborative platform designed to build comprehensive, user-driven documentation. Embrace an energetic community and innovative tools that turn information into a vibrant, living resource."
  url: https://{{domains.mediawiki}}
  link_text: "Explore MediaWiki Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('mediawiki') }}

{% endif %}
{% if "mybb" in group_names %}

- icon: 
    class: "fa-solid fa-comments"
  title: "MyBB Forum"
  text: "Transform your community engagement with MyBB, a feature-rich forum solution that combines modern design with robust functionality. Enjoy dynamic discussions, intuitive moderation, and an energetic user interface that brings people together like never before."
  url: https://{{domains.mybb}}
  link_text: "Join the Conversation!"
  iframe: {{ applications | get_landingpage_iframe_enabled('mybb') }}

{% endif %}
{% if "yourls" in group_names %}

- icon: 
    class: "fa-solid fa-link"
  title: "YOURLS URL Shortener"
  text: "Streamline your online presence with YOURLS, a nimble URL shortening solution that makes sharing links faster, easier, and more engaging. Enjoy the benefits of enhanced tracking and a user-friendly interface that energizes your digital strategy."
  url: https://{{domains.yourls}}
  link_text: "Shorten Links Instantly!"
  iframe: {{ applications | get_landingpage_iframe_enabled('yourls') }}

{% endif %}
{% if "mailu" in group_names %}

- icon: 
    class: "fa-solid fa-envelope"
  title: "Mailu Mail Server"
  text: "Revolutionize your email communications with Mailu, a secure and flexible mail server solution that integrates seamlessly into your workflow. Experience enhanced reliability, robust security, and an energetic approach to managing your digital correspondence."
  url: https://{{domains.mailu}}
  link_text: "Elevate Your Email Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('mailu') }}

{% endif %}
{% if "mastodon" in group_names %}

- icon: 
    class: "fa-solid fa-bullhorn"
  title: "Mastodon Social"
  text: "Dive into a decentralized social experience with Mastodon, a vibrant platform that redefines online communication with its community-driven approach. Enjoy a refreshing burst of innovation, freedom, and energetic interaction every time you connect."
  url: https://{{domains.mastodon}}
  link_text: "Join the Social Revolution!"
  iframe: {{ applications | get_landingpage_iframe_enabled('mastodon') }}

{% endif %}
{% if "pixelfed" in group_names %}

- icon: 
    class: "fa-solid fa-camera"
  title: "Pixelfed"
  text: "Showcase your visual story with Pixelfed, an inspiring self-hosted image sharing platform that champions creativity and privacy. Revel in a dynamic, artistic environment where every photo is a window to endless possibilities and vibrant expression."
  url: https://{{domains.pixelfed}}
  link_text: "Share Your Vision Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('pixelfed') }}

{% endif %}
{% if "peertube" in group_names %}

- icon: 
    class: "fa-solid fa-video"
  title: "PeerTube"
  text: "Embrace a new era of video hosting with PeerTube, a decentralized platform that empowers creators with freedom, innovation, and a community-focused approach. Experience seamless streaming and dynamic sharing that fuels your creative ambitions."
  url: https://{{domains.peertube}}
  link_text: "Stream with Freedom!"
  iframe: {{ applications | get_landingpage_iframe_enabled('peertube') }}

{% endif %}
{% if "bigbluebutton" in group_names %}

- icon: 
    class: "fa-solid fa-chalkboard-teacher"
  title: "BigBlueButton"
  text: "Transform online learning and collaboration with BigBlueButton, an interactive web conferencing solution designed to energize virtual classrooms and meetings. Enjoy dynamic tools and an engaging environment that makes every session a powerful learning experience."
  url: https://{{domains.bigbluebutton}}
  link_text: "Start Your Virtual Session!"
  iframe: {{ applications | get_landingpage_iframe_enabled('bigbluebutton') }}

{% endif %}
{% if "funkwhale" in group_names %}

- icon: 
    class: "fa-solid fa-music"
  title: "Funkwhale"
  text: "Dive into a world of rhythm and sound with Funkwhale, an innovative self-hosted music sharing platform that celebrates creativity and community. Experience an energetic soundscape and seamless music streaming that amplifies your passion for tunes."
  url: https://{{domains.funkwhale}}
  link_text: "Jam Out Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('funkwhale') }}

{% endif %}
{% if "joomla" in group_names %}

- icon: 
    class: "fa-solid fa-sitemap"
  title: "Joomla CMS"
  text: "Elevate your website management with Joomla, a powerful content management system that fuses versatility with dynamic design. Experience a vibrant platform that inspires creativity and drives your digital presence to new, energetic heights."
  url: https://{{domains.joomla}}
  link_text: "Build with Joomla Today!"
  iframe: {{ applications | get_landingpage_iframe_enabled('joomla') }}

{% endif %}
{% if "attendize" in group_names %}

- icon: 
    class: "fa-solid fa-calendar-check"
  title: "Attendize"
  text: "Revolutionize your event management with Attendize, an energetic and intuitive platform designed to streamline ticketing and event planning. Enjoy a feature-rich, user-friendly solution that transforms every event into an unforgettable experience."
  url: https://{{domains.attendize}}
  link_text: "Plan Your Event Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('attendize') }}

{% endif %}
{% if "baserow" in group_names %}

- icon: 
    class: "fa-solid fa-table"
  title: "Baserow"
  text: "Empower your data management with Baserow, an innovative platform that makes building and managing databases both fun and efficient. Enjoy a dynamic interface, seamless collaboration, and energetic tools that supercharge your workflow."
  url: https://{{domains.baserow}}
  link_text: "Manage Data with Ease!"
  iframe: {{ applications | get_landingpage_iframe_enabled('baserow') }}

{% endif %}
{% if "listmonk" in group_names %}

- icon: 
    class: "fa-solid fa-list"
  title: "Listmonk"
  text: "Elevate your email marketing with Listmonk, a high-energy, self-hosted solution that offers powerful newsletter management and analytics. Enjoy an intuitive design, robust features, and a spirited approach that takes your campaigns to the next level."
  url: https://{{domains.listmonk}}
  link_text: "Boost Your Campaigns Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('listmonk') }}

{% endif %}
{% if "discourse" in group_names %}

- icon: 
    class: "fa-solid fa-comment-dots"
  title: "Discourse Forum"
  text: "Ignite community conversations with Discourse, an innovative forum platform that redefines online discussions with its modern, engaging interface. Experience an energetic, user-friendly environment that brings people together and fuels vibrant exchanges."
  url: https://{{domains.discourse}}
  link_text: "Join the Discussion!"
  iframe: {{ applications | get_landingpage_iframe_enabled('discourse') }}

{% endif %}
{% if "matrix" in group_names %}

- icon: 
    class: "fa-solid fa-satellite-dish"
  title: "Matrix"
  text: "Step into the future of communication with Matrix, a dynamic and decentralized platform that delivers secure, real-time messaging and collaboration. Enjoy an innovative ecosystem that energizes your digital interactions and connects you globally."
  url: https://{{domains.matrix_synapse}}
  link_text: "Connect on Matrix Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('matrix') }}

{% endif %}
{% if "openproject" in group_names %}

- icon: 
    class: "fa-solid fa-project-diagram"
  title: "OpenProject"
  text: "Transform your project management with OpenProject, a vibrant and collaborative tool that brings clarity and energy to your planning, tracking, and team communication. Experience streamlined workflows and an innovative platform that propels your projects forward."
  url: https://{{domains.openproject}}
  link_text: "Manage Projects Dynamically!"
  iframe: {{ applications | get_landingpage_iframe_enabled('openproject') }}

{% endif %}
{% if "gitlab" in group_names %}

- icon: 
    class: "fa-solid fa-code-branch"
  title: "GitLab"
  text: "Accelerate your software development with GitLab, an energetic, all-in-one platform for source code management and continuous integration. Experience a robust, collaborative environment that empowers teams to innovate and deliver exceptional results."
  url: https://{{domains.gitlab}}
  link_text: "Revolutionize Your DevOps!"
  iframe: {{ applications | get_landingpage_iframe_enabled('gitlab') }}

{% endif %}
{% if "akaunting" in group_names %}

- icon: 
    class: "fa-solid fa-file-invoice-dollar"
  title: "Akaunting"
  text: "Empower your financial management with Akaunting, a dynamic and feature-rich accounting platform designed to simplify your bookkeeping and boost your business growth. Enjoy intuitive tools, real-time insights, and an energetic approach to your finances."
  url: https://{{domains.akaunting}}
  link_text: "Transform Your Finances Today!"
  iframe: {{ applications | get_landingpage_iframe_enabled('akaunting') }}

{% endif %}
{% if "moodle" in group_names %}

- icon: 
    class: "fa-solid fa-graduation-cap"
  title: "Moodle"
  text: "Ignite the learning experience with Moodle, a powerful and versatile platform for online education that energizes classrooms and fosters interactive learning. Embrace innovative tools, engaging content, and a dynamic community of educators and learners."
  url: https://{{domains.moodle}}
  link_text: "Start Learning Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('moodle') }}

{% endif %}
{% if "taiga" in group_names %}

- icon: 
    class: "fa-solid fa-tasks"
  title: "Taiga"
  text: "Supercharge your project management with Taiga, a dynamic and agile tool designed for teams that thrive on creativity and collaboration. Experience a vibrant interface, robust task tracking, and an energetic platform that drives your projects to success."
  url: https://{{domains.taiga}}
  link_text: "Boost Your Projects Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('taiga') }}

{% endif %}
{% if "friendica" in group_names %}

- icon: 
    class: "fa-solid fa-user-friends"
  title: "Friendica"
  text: "Connect and share like never before with Friendica, an innovative social networking platform that celebrates community, freedom, and dynamic interactions. Enjoy a spirited and open environment where every connection is a step toward a more engaging digital world."
  url: https://{{domains.friendica}}
  link_text: "Join the Social Movement!"
  iframe: {{ applications | get_landingpage_iframe_enabled('friendica') }}

{% endif %}
{% if "portfolio" in group_names %}

- icon: 
    class: "fa-solid fa-briefcase"
  title: "Portfolio"
  text: "Showcase your professional journey with Portfolio, a dynamic platform that combines creativity and functionality to highlight your achievements. Experience an energetic design, intuitive features, and a compelling way to present your work to the world."
  url: https://{{domains.portfolio}}
  link_text: "Elevate Your Profile Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('portfolio') }}

{% endif %}
{% if "bluesky" in group_names %}

- icon: 
    class: "fa-solid fa-sun"
  title: "Bluesky"
  text: "Soar to new digital heights with Bluesky, an innovative platform that reimagines social networking with its forward-thinking, community-driven approach. Experience a burst of energy, creativity, and the freedom to connect in a truly inspiring way."
  url: https://{{domains.bluesky}}
  link_text: "Soar with Bluesky Today!"
  iframe: {{ applications | get_landingpage_iframe_enabled('bluesky') }}

{% endif %}

{% if "sphinx" in group_names %}

- icon:
    class: "fa-solid fa-book"
  title: "Documentation"
  text: "Unlock comprehensive insights with our extensive documentation. Explore guides, tutorials, and support resources designed to help you navigate our software effortlessly."
  url: https://{{domains.sphinx}}
  link_text: "Explore Documentation Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('sphinx') }}

{% endif %}


{% if "phpmyadmin" in group_names %}

- icon: 
    class: "fa-solid fa-database"
  title: "PHPMyAdmin"
  text: "Manage your databases with confidence using PHPMyAdmin, a robust and dynamic tool designed to simplify administration and enhance productivity. Enjoy an intuitive interface, powerful features, and an energetic approach that makes database management a breeze."
  url: https://{{domains.phpmyadmin}}
  link_text: "Optimize Your Database Now!"
  iframe: {{ applications | get_landingpage_iframe_enabled('phpmyadmin') }}

{% endif %}
{% if "snipe_it" in group_names %}

- icon: 
    class: "fa-solid fa-box"
  title: "SNIPE-IT"
  text: "Streamline your asset management with SNIPE-IT, a cutting-edge solution that brings efficiency, clarity, and energy to tracking your hardware and software inventory. Experience a user-friendly design and dynamic features that make asset management simple and engaging."
  url: https://{{domains.snipe_it}}
  link_text: "Manage Assets Effortlessly!"
  iframe: {{ applications | get_landingpage_iframe_enabled('snipe_it') }}

{% endif %}

platform:
  titel:    {{service_provider.platform.titel}}
  subtitel: {{service_provider.platform.subtitel}}
  logo:
    source: {{service_provider.platform.logo}}
  favicon:
    source: {{service_provider.platform.favicon}}
company:
  titel: {{service_provider.company.titel}}
  subtitel: {{service_provider.company.subtitel}}
  logo:
    source: {{service_provider.company.logo}}
  address:
{{ service_provider.company.address | to_nice_yaml(indent=4) | indent(4, true) }}
  imprint_url: {{service_provider.legal.imprint}}
navigation:
  header:
    children:
    - link: accounts.publishingchannels.children
    - name: Contact
      description: Get in touch with {{ 'us' if service_provider.type == 'legal' else 'me' }} 
      icon:
          class: fa-solid fa-envelope
      children:

{% if service_provider.contact.email is defined %}

      - name: Email
        description: Send {{ 'us' if service_provider.type == 'legal' else 'me' }} an email
        icon:
          class: fa-solid fa-envelope
        url: mailto:{{service_provider.contact.email}}
        identifier: {{service_provider.contact.email}}

{% endif %}
{% if service_provider.contact.phone is defined %}

      - name: Mobile
        description: Call {{ 'us' if service_provider.type == 'legal' else 'me' }}
        icon:
          class: fa-solid fa-phone
        url: "tel:{{service_provider.contact.phone}}"
        identifier: "{{service_provider.contact.phone}}"
        target: _top

{% endif %}
{% if service_provider.contact.matrix is defined %}

      - name: Matrix
        description: Chat with {{ 'us' if service_provider.type == 'legal' else 'me' }} on Matrix
        icon:
          class: fa-solid fa-cubes
        identifier: "{{service_provider.contact.matrix}}"

{% endif %}

  footer:
    children:
    - link: accounts

{% if ["discourse","moodle","listmonk","openproject","taiga","snipe_it","matrix","bigbluebutton","mailu", "matomo","phpadmin","keycloak", "ldap", "baserow","yourls","nextcloud"] | any_in(group_names) %}

    - name: Solution Hub
      description: Curated collection of self hosted tools
      icon:
          class: fa-solid fa-network-wired
      children:

  {% if ["discourse","moodle","listmonk"] | any_in(group_names) %}

      - name: Community
        description: Tools to manage the community
        icon:
            class: fa-solid fa-users
        children:

    {% if "discourse" in group_names %}

        - name: Forum
          description: Join the discussion
          icon:
            class: fa-brands fa-discourse
          url: https://{{domains.discourse}}/
          iframe: {{ applications | get_landingpage_iframe_enabled('discourse') }}

    {% endif %}
    {% if "moodle" in group_names %}
        
        - name: Learning Platform
          description: Learn with {{ 'our' if service_provider.type == 'legal' else 'my' }} academy
          icon:
            class: fa-solid fa-graduation-cap
          url: https://{{domains.moodle}}/
          iframe: {{ applications | get_landingpage_iframe_enabled('moodle') }}

    {% endif %}
    {% if "listmonk" in group_names %}

        - name: Newsletter
          description: Subscribe to {{ 'our' if service_provider.type == 'legal' else 'my' }} newsletter
          icon:
            class: fa-solid fa-envelope-open-text
          url: https://{{domains.listmonk}}/subscription/form
          iframe: {{ applications | get_landingpage_iframe_enabled('listmonk') }}

    {% endif %}
  {% endif %}
  {% if ["openproject","taiga","snipe_it"] | any_in(group_names) %}

      - name: Project Management
        description: Project Management Tools
        icon:
            class: fa-solid fa-chart-line
        children:

    {% if "openproject" in group_names %}

        - name: Open Project
          description: Explore {{ 'our' if service_provider.type == 'legal' else 'my' }} projects
          icon:
            class: fa-solid fa-tasks
          url: https://{{domains.openproject}}/
          iframe: {{ applications | get_landingpage_iframe_enabled('openproject') }}

    {% endif %}
    {% if "taiga" in group_names %}       

        - name: Taiga
          description: View {{ 'our' if service_provider.type == 'legal' else 'my' }} Kanban board
          icon:
            class: bi bi-clipboard2-check-fill
          url: https://{{domains.taiga}}/
          iframe: {{ applications | get_landingpage_iframe_enabled('taiga') }}

    {% endif %}
    {% if "snipe_it" in group_names %}        

        - name: Snipe IT
          description: Manage {{ 'our' if service_provider.type == 'legal' else 'my' }} inventory
          icon:
            class: fas fa-box-open
          url: https://{{domains.snipe_it}}/
          iframe: {{ applications | get_landingpage_iframe_enabled('snipe_it') }}

    {% endif %}
  {% endif %}
  {% if ["matrix","bigbluebutton","mailu"] | any_in(group_names) %}  

      - name: Communication
        icon:
          class: fa-solid fa-comments
        children:

    {% if "matrix" in group_names %}   

        - name: Elements
          description: Chat with the world
          icon:
            class: fa-solid fa-comment
          url: https://{{domains.matrix_element}}/
          iframe: {{ applications | get_landingpage_iframe_enabled('matrix') }}

    {% endif %}
    {% if "bigbluebutton" in group_names %}             

        - name: Big Blue Button
          description: Join live events
          icon:
            class: fa-solid fa-video
          url: https://{{domains.bigbluebutton}}/
          iframe: {{ applications | get_landingpage_iframe_enabled('bigbluebutton') }}

    {% endif %}
    {% if "mailu" in group_names %}            

        - name: Mailu
          description: Send{{ 'our' if service_provider.type == 'legal' else 'my' }}a mail
          icon:
            class: fa-solid fa-envelope
          url: https://{{domains.mailu}}/
          iframe: {{ applications | get_landingpage_iframe_enabled('mailu') }}

    {% endif %}
  {% endif %}
  {% if ["matomo","phpadmin","keycloak", "ldap"] | any_in(group_names) %}  

      - name: Administration
        icon:
          class: fas fa-building
        children:

    {% if "matomo" in group_names %}   

        - name: Matomo
          description: Analyze with Matomo
          icon:
            class: fa-solid fa-chart-simple
          url: https://{{domains.matomo}}/
          iframe: {{ applications | get_landingpage_iframe_enabled('matomo') }}

    {% endif %}
    {% if "phpmyadmin" in group_names %}   

        - name: phpMyAdmin
          description: Administrate MySQL and MariaDB databases
          icon:
            class: fas fa-database
          url: https://{{domains.phpmyadmin}}/
          iframe: {{ applications | get_landingpage_iframe_enabled('phpmyadmin') }}

    {% endif %}
    {% if "keycloak" in group_names %}   

        - name: Keycloak
          description: Manage User via Keycloak
          icon:
            class: fas fa-user-shield
          iframe: {{ applications | get_landingpage_iframe_enabled('keycloak') }}
          children:
          - name: Keycloak Master Admin
            description: Access the central admin console
            icon:
              class: fa-solid fa-shield-halved
            url: https://{{domains.keycloak}}/admin
            iframe: {{ applications | get_landingpage_iframe_enabled('keycloak') }}
          - name: Manage Your Profile
            description: Update your personal admin settings
            icon:
              class: fa-solid fa-user-gear
            url: https://{{ domains.keycloak }}/realms/{{oidc.client.id}}/account
            iframe: {{ applications | get_landingpage_iframe_enabled('keycloak') }}
          - name: Log Out of Keycloak
            description: End your admin session securely
            icon:
              class: fa-solid fa-right-from-bracket
            url: https://{{ domains.keycloak }}/realms/{{oidc.client.id}}/protocol/openid-connect/logout
            iframe: false

    {% endif %}
    {% if "ldap" in group_names %}   

        - name: LDAP
          description: Manage LDAP
          icon:
            class: fas fa-key
          url: https://{{domains.ldap}}/
          iframe: {{ applications | get_landingpage_iframe_enabled('ldap') }}

    {% endif %}
  {% endif %}
  {% if ["baserow","yourls","nextcloud"] | any_in(group_names) %}

      - name: Tools
        icon:
          class: fas fa-tools
        children:

    {% if "baserow" in group_names %}

        - name: Baserow
          description: Organize with Baserow
          icon:
            class: fa-solid fa-table
          url: https://{{domains.baserow}}/
          iframe: {{ applications | get_landingpage_iframe_enabled('baserow') }}  

    {% endif %}
    {% if "yourls" in group_names %}   

        - name: Yourls
          description: Create Shortlinks
          icon:
            class: bi bi-link
          url: https://{{domains.yourls}}/admin/
          iframe: {{ applications | get_landingpage_iframe_enabled('yourls') }}

    {% endif %}
    {% if "nextcloud" in group_names %}

        - name: Nextcloud
          description: Access your cloud storage
          icon:
            class: fa-solid fa-cloud
          url: https://{{domains.nextcloud}}/
          iframe: {{ applications | get_landingpage_iframe_enabled('nextcloud') }}

    {% endif %}
  {% endif %}
{% endif %}

    - name: Support Us
      description: "Discover all the ways you can support our work."
      icon:
        class: fa-solid fa-hands-helping
      children:
        - name: Buy me a Coffee
          description: "Support our work with a coffee – every cup helps!"
          icon:
            class: fa-solid fa-mug-hot
          url: https://s.veen.world/buymeacoffee
        - name: Patreon
          description: "Become a member and support me monthly with exclusive content."
          icon:
            class: fa-brands fa-patreon
          url: https://s.veen.world/patreon
        - name: PayPal
          description: "Donate to our open source projects with a one-time or monthly PayPal contribution."
          icon:
            class: fa-brands fa-paypal
          url: https://s.veen.world/paypaldonate
        - name: GitHub Sponsors
          description: "Directly support our projects through GitHub Sponsors."
          icon:
            class: fa-brands fa-github
          url: https://s.veen.world/githubsponsors

{% if "sphinx" in group_names %}   

    - name: Documentation
      description: Access our comprehensive documentation and support resources to help you get the most out of the software.
      icon:
        class: fas fa-book
      url: https://{{domains.sphinx}}
      iframe: {{ applications | get_landingpage_iframe_enabled('sphinx') }}

{% endif %}

    - name: Imprint
      description: Check out the imprint information
      icon:
          class: fa-solid fa-scale-balanced
      url: "{{service_provider.legal.imprint}}"
      iframe: true