{% include 'roles/docker-compose/templates/base.yml.j2' %}
  portfolio:
{% set container_port = 5000 %}
    build:
      context: {{docker_repository_path}}
      dockerfile: Dockerfile
    image: application-portfolio
    container_name: portfolio
    ports:
      - 127.0.0.1:{{ports.localhost.http[application_id]}}:{{ container_port }}
    volumes:
      - {{docker_repository_path}}app:/app
    restart: unless-stopped
{% include 'roles/docker-compose/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/healthcheck/tcp.yml.j2' %}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}