[Unit]
Description=pull remote backups
OnFailure=systemd-notifier@%n.service backup-docker-cleanup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash {{docker_pull_primary_backups_folder}}pull-remote-backups.sh
