# {{ application_id }} Template

This folder contains a template to setup a web app role.

## Description

* Put a description here.

## Overview

Put an overview here.

## Features

Put a feature list here

## Further Resources

* Put more resources here