{# Allow multiple sub_filters #}
sub_filter_once off;
sub_filter_types text/html;

{% set modifier_css_enabled     = applications | is_feature_enabled('css',application_id) %}
{% set modifier_matomo_enabled  = applications | is_feature_enabled('matomo',application_id) %}
{% set modifier_iframe_enabled  = applications | is_feature_enabled('portfolio_iframe',application_id) %}
{% set modifier_javascript_enabled  = applications | is_feature_enabled('javascript',application_id) %}

{% if modifier_iframe_enabled or modifier_css_enabled or modifier_matomo_enabled or modifier_javascript_enabled %}
sub_filter '</head>' ' 
        {%- if modifier_css_enabled -%}
          {%- include "roles/srv-web-7-7-inj-css/templates/head_sub.j2" -%}
        {%- endif -%}
        {%- if modifier_matomo_enabled -%}
          {%- include "roles/srv-web-7-7-inj-matomo/templates/head_sub.j2" -%}
        {%- endif -%}
        {%- if modifier_iframe_enabled -%}
          {%- include "roles/srv-web-7-7-inj-iframe/templates/head_sub.j2" -%}
        {%- endif -%}
        {%- if modifier_javascript_enabled -%}
          {%- include "roles/srv-web-7-7-inj-javascript/templates/head_sub.j2" -%}
        {%- endif -%}
      </head>';
{% endif %}

{% if modifier_css_enabled | bool %}
{% include 'roles/srv-web-7-7-inj-css/templates/location.conf.j2' %}
{% endif %}

{% if modifier_matomo_enabled %}
{% include 'roles/srv-web-7-7-inj-matomo/templates/matomo-tracking.conf.j2' %}
{% endif %}