[Unit]
Description=starts health-nginx.service

[Timer]
OnCalendar={{ on_calendar_nginx_health_check }}
RandomizedDelaySec={{ randomized_delay_sec }}
Persistent=false

[Install]
WantedBy=timers.target