{# This template needs to be included in docker-compose.yml #}
networks:
{% if applications | is_feature_enabled('central_database',application_id) | bool and database_type is defined %}
  central_{{ database_type }}:
    external: true
{% endif %}
{% if applications[application_id].get('features', {}).get('ldap', false) | bool and applications.ldap.network.docker | bool %}
  central_ldap:
    external: true
{% endif %}
  default:
{% if application_id in networks.local and networks.local[application_id].subnet is defined %}
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: {{networks.local[application_id].subnet}}
{% endif %}
{{ "\n" }}