# This template needs to be included in docker-compose.yml
networks:
{% if enable_central_database | bool and database_type is defined %}
  central_{{ database_type }}:
    external: true
{% endif %}
  default:
{{ "\n" }}