{# This template needs to be included in docker-compose.yml which contain a database and additional volumes #}
volumes:
{% if not (applications[application_id].database.central_storage | default(false)) | bool %}
  database:
{% endif %}
{{ "\n" }}