{# This needs to be included in docker-compose.yml which just contain a database volume #}
{% if not (applications[application_id].features.database | default(false)) | bool %}
volumes:
  database:
{% endif %}
{{ "\n" }}