{# This needs to be included in docker-compose.yml which just contain a database volume #}
{% if not applications | is_feature_enabled('central_database',application_id) %}
volumes:
  database:
{% endif %}
{{ "\n" }}