[Unit]
Description=checking disc space
OnFailure=systemd-notifier.cymais@%n.service

[Service]
Type=oneshot
ExecStart=/bin/bash {{health_disc_space_folder}}health-disc-space.sh {{size_percent_disc_space_warning}}
