{
    "policies": {
      "Extensions": {
        "Install": [
          {% for plugin in applications | get_app_conf(application_id, 'plugins', True) -%}
            "{{ plugin }}"{% if not loop.last %},{% endif %}
          {% endfor %}
        ]
      },
      "DisablePasswordManager": true
    }
  }
  