services:

{% include 'templates/docker/services/redis.yml.j2' %}

  collabora:
    image: collabora/code
    container_name: collabora
    ports:
      - "127.0.0.1:{{ports.localhost.http[application_id]}}:80"

{% include 'roles/docker-compose/templates/services/base.yml.j2' %}
{% include 'templates/docker/container/depends-on-database-redis.yml.j2' %}
{% include 'templates/docker/container/networks.yml.j2' %}

{% include 'templates/docker/compose/networks.yml.j2' %}
