{% include 'roles/docker-compose/templates/base.yml.j2' %}

  application:
{% set container_port = 9000 %}
    image: {{ peertube_image }}:{{ peertube_version }}
    container_name: {{ peertube_name }}
{% include 'roles/docker-container/templates/base.yml.j2' %}
    ports:
     - "1935:1935"  # @todo Add to ports
     - "127.0.0.1:{{ports.localhost.http[application_id]}}:{{ container_port }}" 
    volumes:
      - assets:/app/client/dist
      - data:/data
      - config:/config
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/healthcheck/tcp.yml.j2' %}
{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  assets:
  data:
    name: {{ peertube_volume }}
  redis:
  config:

{% include 'roles/docker-compose/templates/networks.yml.j2' %}