# These could be changed
MYSQL_DATABASE={{database_databasename}}
MYSQL_USER={{database_username}}

# This should definitely be changed to something long and random
MYSQL_PASSWORD={{database_password}}

# You should probably leave this
MYSQL_ROOT_PASSWORD={{database_password}}
