# These could be changed
MYSQL_DATABASE=akaunting
MYSQL_USER=admin

# This should definitely be changed to something long and random
MYSQL_PASSWORD={{akaunting_database_password}}

# You should probably leave this
MYSQL_ROOT_PASSWORD={{akaunting_database_password}}
