{% include 'roles/docker-compose/templates/base.yml.j2' %}
  application:

{% include 'roles/docker-container/templates/base.yml.j2' %}

    image: "{{ applications[application_id].images[application_id] }}"
    build:
      context: .
    ports:
      - 127.0.0.1:{{ports.localhost.http[application_id]}}:80
    volumes:
      - data:/var/www/html
    environment:
      - AKAUNTING_SETUP
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/depends_on_dmbs.j2' %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  data:

{% include 'roles/docker-compose/templates/networks.yml.j2' %}