services:

{% include 'roles/docker-central-database/templates/services/' + database_type + '.yml.j2' %}

  application:

{% include 'roles/docker-compose/templates/services/base.yml.j2' %}

    image: docker.io/akaunting/akaunting:{{applications.akaunting.version}}
    build:
      context: .
    ports:
      - 127.0.0.1:{{http_port}}:80
    volumes:
      - data:/var/www/html
    environment:
      - AKAUNTING_SETUP
{% include 'templates/docker/container/networks.yml.j2' %}
{% include 'templates/docker/container/depends-on-just-database.yml.j2' %}

{% include 'templates/docker/compose/volumes.yml.j2' %}
  data:

{% include 'templates/docker/compose/networks.yml.j2' %}