version: '3.7'

services:
  application:
    image: docker.io/akaunting/akaunting:{{version_akaunting}}
    build:
      context: .
    ports:
      - 127.0.0.1:{{http_port}}:80
    volumes:
      - data:/var/www/html
    restart: unless-stopped
    env_file:
      - env/run.env
    environment:
      - AKAUNTING_SETUP
    depends_on:
      - database

{% include 'templates/docker-mariadb-service.yml.j2' %}

volumes:
  data:
  database: