[Unit]
Description=backups the docker volumes

[Timer]
OnCalendar={{on_calendar_backup_docker_to_local}}
RandomizedDelaySec={{randomized_delay_sec}}
Persistent=false

[Install]
WantedBy=timers.target
