credentials: {}
docker:
  services:
    redis:
      enabled:          false   # Enable Redis 
    database:
      enabled:          false   # Enable the database
    {{ application_id }}:  
      no_stop_required: true
      image:            ""
      version:          "latest"
      name:             "web-app-{{ application_id }}"
    volumes:
      data:             "web-app-{{ application_id }}_data"
features:
  matomo:           true    # Enable Matomo Tracking
  css:              true    # Enable Global CSS Styling
  port-ui-desktop:  true    # Enable loading of app in iframe
  ldap:             false   # Enable LDAP Network
  central_database: false   # Enable Central Database Network
  recaptcha:        false   # Enable ReCaptcha
  oauth2:           false   # Enable the OAuth2-Proy
  javascript:       false   # Enables the custom JS in the javascript.js.j2 file   
csp:                        
  whitelist:        {}      # URL's which should be whitelisted           
  flags:            {}      # Flags which should be set 
domains:
  canonical:        {}      # Urls under which the domain should be directly accessible
  aliases:          []      # Alias redirections to the first element of the canonical domains
rbac:
  roles: {}
