[Unit]
Description=Backup to USB when mounted to {{ backup_to_usb_mount }}
Wants={{systemctl_mount_service_name}}
After={{systemctl_mount_service_name}}
OnFailure=systemd-notifier@%n.service
Requires=backups-cleanup.service
After=backups-cleanup.service

[Service]
ExecStart=/bin/python {{ backup_to_usb_script_path }} {{backup_to_usb_source}} {{backup_to_usb_destination}}

[Install]
WantedBy=multi-user.target