[Unit]
Description=Timer to start {{service_name}}.service

[Timer]
OnCalendar={{on_calendar}}
RandomizedDelaySec={{randomized_delay_sec}}
Persistent={{ persistent | default('false') }}

[Install]
WantedBy=timers.target
