[Unit]
Description=Deployment of Let's Encrypt's certificates

[Timer]
OnCalendar={{on_calendar_deploy_mailu_certificates}}
RandomizedDelaySec={{randomized_delay_sec}}
Persistent=true

[Install]
WantedBy=timers.target
