server
{
  server_name {{domain}};
  listen 443 ssl http2;
  listen [::]:443 ssl http2;

  {% with http_port=https_port %}
    {% include 'roles/native-nginx-docker-proxy/templates/proxy_pass.conf.j2'%}
  {% endwith %}
}

server
{
  server_name {{domain}};
  listen 80;
  listen [::]:80;
  {% include 'roles/native-nginx-docker-proxy/templates/proxy_pass.conf.j2'%}
}
