{% include 'roles/docker-compose/templates/base.yml.j2' %}

  application:
    image: "nextcloud:{{applications.nextcloud.version}}-fpm-alpine"
    container_name: {{applications.nextcloud.container.application}}
    volumes:
      - data:{{nextcloud_docker_work_directory}}
      - {{nextcloud_host_config_additives_directory}}:{{nextcloud_docker_config_additives_directory}}:ro
    healthcheck:
      test: ["CMD", "su", "www-data", "-s", "/bin/sh", "-c", "php {{nextcloud_docker_work_directory}}occ status"]
      interval: 1m
      timeout: 10s
      retries: 3
{% include 'roles/docker-container/templates/base.yml.j2' %}
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
        ipv4_address: 192.168.102.69

  # @Todo activate
  #nc-talk:
  #  image: nextcloud/aio-talk:latest
  #  container_name: talk_hpb
  #  hostname: hpb_yt
  #  restart: unless-stopped
  #  init: true
  #  ports:
  #    - 3478:3478/tcp #TURN TCP
  #    - 3478:3478/udp #TURN UDP
  #    - 8181:8081/tcp #Signaling
  #  environment:
  #    - NC_DOMAIN=cloud.yourdomain.tld
  #    - TALK_HOST=signaling.yourdomain.tld
  #    - TURN_SECRET=${TURN_SECRET}
  #    - SIGNALING_SECRET=${SIGNALING_SECRET}
  #    - TZ=Europe/Berlin
  #    - TALK_PORT=3478
  #    - INTERNAL_SECRET=${INTERNAL_SECRET}
  #  networks:
  #    - nxnetwork_yt

  web:
    image: nginx:alpine
    container_name: {{applications.nextcloud.container.proxy}}
    logging:
      driver: journald
    restart: {{docker_restart_policy}}
    ports:
      - "127.0.0.1:{{ports.localhost.http[application_id]}}:{{ container_port }}"
    volumes:
        - "{{docker_compose.directories.volumes}}nginx.conf:/etc/nginx/nginx.conf:ro"
    volumes_from:
      - application

{% include 'roles/docker-container/templates/healthcheck/curl.yml.j2' %}
    networks:
      default:
        ipv4_address: 192.168.102.67

  cron:
    container_name: nextcloud-cron
    image: "nextcloud:{{applications.nextcloud.version}}-fpm-alpine"
    restart: {{docker_restart_policy}}
    logging:
      driver: journald
    volumes:
      - data:{{nextcloud_docker_work_directory}}
    entrypoint: /cron.sh
    healthcheck:
      test: ["CMD", "su", "www-data", "-s", "/bin/sh", "-c", "php {{nextcloud_docker_work_directory}}occ status"]
      interval: 1m
      timeout: 10s
      retries: 3
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
        ipv4_address: 192.168.102.70

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  data:
  redis:

{% include 'roles/docker-compose/templates/networks.yml.j2' %}
