---

{% if database | bool %}

{% raw %}
- name: "include docker-central-database"
  include_role: 
    name: docker-central-database
  when: run_once_docker_{% endraw %}{{ application_id }}{% raw %} is not defined

- name: "include role nginx-domain-setup for {{application_id}}"
  include_role:
    name: nginx-domain-setup
  vars:
    domain:   "{{ domains | get_domain(application_id) }}"
    http_port:   "{{ ports.localhost.http[application_id] }}"
  when: run_once_docker_{% endraw %}{{ application_id }}{% raw %} is not defined
{% endraw %}

{% else %}

{% raw %}
- name: "include docker-compose role"
  include_role: 
    name: docker-compose
  when: run_once_docker_{% endraw %}{{ application_id }}{% raw %} is not defined
{% endraw %}

{% endif %}

{% raw %}
- name: run the {% raw %}portfolio{% endraw %} tasks once
  set_fact:
    run_once_docker_portfolio: true
  when: run_once_docker_{% endraw %}{{ application_id }}{% raw %} is not defined
{% endraw %}