{% if not applications | is_feature_enabled('central_database',application_id) %}
      {{ database_host }}:
        condition: service_healthy
{% endif %}
{% if applications | is_docker_service_enabled(application_id, 'redis') %}
      redis:
        condition: service_healthy
{% endif %}