{# This template needs to be included in docker-compose.yml containers, which depend on a database, redis and optional additional volumes #}
{% if
      applications | is_docker_service_enabled(application_id, 'redis') or
      not applications | get_app_conf(application_id, 'features.central_database', False)
    %}
    depends_on:
{% include "roles/docker-container/templates/depends_on/dbms_base.yml.j2" %}
{% endif %}
{{ "\n" }}
