{# This template needs to be included in docker-compose.yml containers, which depend on a database, redis and optional additional volumes #}
{% if
      (applications[application_id].docker.services.redis.enabled | default(false)| bool) or
      not applications | is_feature_enabled('central_database',application_id) 
    %}
    depends_on:
{% include "roles/docker-container/templates/depends_on/dbms_base.yml.j2" %}
{% endif %}
{{ "\n" }}
