server {
    listen {{ldap_secure_internet_port}} ssl;
    proxy_pass 127.0.0.1:{{ldap_localhost_port}};

    # SSL Configuration for LDAPS
    {% include 'roles/letsencrypt/templates/ssl_credentials.j2' %}
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers HIGH:!aNULL:!MD5;
}
