[Unit]
Description=Detect, revoke, and delete unused Let's Encrypt certificates based on active NGINX configuration files.
OnFailure=sys-alm-compose.infinito@%n.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'certreap --force'