var _paq = window._paq = window._paq || [];
_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
_paq.push(["setCookieDomain", "*.{{base_domain}}"]);
_paq.push(["setDomains", ["*.{{base_domain}}"]]);
_paq.push(["enableCrossDomainLinking"]);
_paq.push(["trackPageView"]);
_paq.push(["trackAllContentImpressions"]);
_paq.push(["enableLinkTracking"]);
(function() {
  var u="//{{domains.matomo}}/";
  _paq.push(["setTrackerUrl", u+"matomo.php"]);
  _paq.push(["setSiteId", "{{matomo_site_id}}"]);
  var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0];
  g.async=true; g.src=u+"matomo.js"; s.parentNode.insertBefore(g,s);
})();
