[Unit]
Description=freeing disc space
OnFailure=systemd-notifier@%n.service

[Service]
Type=oneshot
ExecStart=/bin/bash {{cleanup_disc_space_folder}}cleanup-disc-space.sh {{size_percent_cleanup_disc_space}}