[Unit]
Description=starts cleanup-disc-space.service

[Timer]
OnCalendar={{on_calendar_cleanup_disc_space}}
RandomizedDelaySec={{randomized_delay_sec}}
Persistent=true

[Install]
WantedBy=timers.target
