[Unit]
Description=Checking docker health
OnFailure=alert-core.cymais@%n.service

[Service]
Type=oneshot
ExecStart=/bin/bash {{ health_docker_volumes_folder }}monitor-bot-docker-volumes.sh "{{ whitelisted_anonymous_docker_volumes | join(' ') }}"
