location ~* \.(jpg|jpeg|png|gif|webp|ico|svg)$ {
    # Cache in browser
    expires 30d;
    add_header Cache-Control "public, max-age=2592000, immutable";

    # Cache on reverse proxy side
    proxy_pass http://127.0.0.1:{{http_port}};
    proxy_cache imgcache;
    proxy_cache_valid 200 302 60m;
    proxy_cache_valid 404 1m;
    add_header X-Proxy-Cache $upstream_cache_status;
}