version: '3.1'

services:
  
  synapse:
    image: matrixdotorg/synapse:latest
    restart: always
    logging:
      driver: journald
    volumes:
      - synapse_data:/data
      - ./homeserver.yaml:/data/homeserver.yaml:ro
      - ./{{synapse_domain}}.log.config:/data/{{synapse_domain}}.log.config:ro
    environment:
      - SYNAPSE_SERVER_NAME={{synapse_domain}}
      - SYNAPSE_REPORT_STATS=no
    ports:
      - "127.0.0.1:{{synapse_http_port}}:8008"
{% if not enable_central_database %}
    depends_on:
      - database
{% include 'templates/docker-postgres-service.yml.j2' %}
{% endif %}
  
  element:
    image: vectorim/element-web:latest
    restart: unless-stopped
    volumes:
      - ./element-config.json:/app/config.json
    ports:
      - "127.0.0.1:{{element_http_port}}:80"

  # bridges
  #mautrix-telegram:
  #  container_name: mautrix-telegram
  #  image: dock.mau.dev/mautrix/telegram:<version>
  #  restart: unless-stopped
  #  volumes:
  #  - telegram_bridge_data:/data

  #mautrix-whatsapp:
  #  container_name: mautrix-whatsapp
  #  image: dock.mau.dev/mautrix/whatsapp:latest
  #  restart: unless-stopped
  #  volumes:
  #  - ./mautrix_whatsapp:/data

  #mautrix-facebook:
  #  container_name: mautrix-facebook
  #  image: dock.mau.dev/mautrix/facebook:<version>
  #  restart: unless-stopped
  #  volumes:
  #  - facebook_bridge_data:/data

  #mautrix-instagram:
  #  container_name: mautrix-instagram
  #  image: dock.mau.dev/mautrix/instagram:<version>
  #  restart: unless-stopped
  #  volumes:
  #  - instagram_bridge_data:/data  

volumes:
{% if not enable_central_database %}
  database:
{% endif %}
  synapse_data:
  #telegram_bridge_data:
  #whatsapp_bridge_data:
  #facebook_bridge_data:
  #instagram_bridge_data:
networks:
  default:
    driver: bridge