server {
    server_name {{domain}};
    {% include 'roles/letsencrypt/templates/ssl_header.j2' %}
    
    # For the federation port
    listen 8448 ssl default_server;
    listen [::]:8448 ssl default_server;
    http2 on;

    {% if nginx_matomo_tracking | bool %}
        {% include 'roles/nginx-matomo-tracking/templates/matomo-tracking.conf.j2' %}
    {% endif %}

    {% include 'roles/nginx-docker-reverse-proxy/templates/proxy_pass.conf.j2' %}
}