server {
    {# Somehow .j2 doesn't interpretate the passed variable right. For this reasons this redeclaration is necessary #}
    {# Could be that this is related to the set_fact use #}
    {% set domain = domains.matrix_synapse %}
    {% set http_port = ports.localhost.http.matrix_synapse %}

    server_name {{domains.matrix_synapse}};
    {% include 'roles/letsencrypt/templates/ssl_header.j2' %}
    
    # For the federation port
    listen 8448 ssl default_server;
    listen [::]:8448 ssl default_server;

    {% include 'roles/nginx-modifier-all/templates/global.includes.conf.j2'%}
    {% include 'roles/nginx-docker-reverse-proxy/templates/proxy_pass.conf.j2' %}
}