[Unit]
Description=docker volume backup
OnFailure=systemd-notifier@%n.service docker-volume-backup-cleanup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python {{docker_volume_backup_folder}}docker-volume-backup.py