- name: install vlc and blu ray software
  community.general.pacman:
    name:
      - vlc
      - libaacs
      - libbluray
    state: present
- name: install AUR packages to play blu ray
  kewlfft.aur.aur:
    use: yay
    name:
      - aacskeys
      - libbdplus
  become: false
