{# This template needs to be included in docker-compose.yml #}
networks:
{% if applications | get_app_conf(application_id, 'features.central_database', False) and database_type is defined %}

  {{ applications[ 'svc-db-' ~ database_type ].network }}:
    external: true
{% endif %}
{% if 
  applications | get_app_conf(application_id, 'features.ldap', False) and 
  applications | get_app_conf(application_id, 'network.docker', False)
  %}
  svc-db-openldap:
    external: true
{% endif %}
  default:
{% if
  application_id in networks.local and 
  networks.local[application_id].subnet is defined and
  application_id != 'svc-db-openldap'
%}
    name: {{ application_id }}
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: {{networks.local[application_id].subnet}}
{% endif %}
{{ "\n" }}