{# This needs to be included in docker-compose.yml which just contain a database volume #}
{% if not applications | get_app_conf(application_id, 'features.central_database', False)%}
volumes:
  database:
{% endif %}
{{ "\n" }}