{# This template needs to be included in docker-compose.yml which contain a database and additional volumes #}
volumes:
{% if not applications | get_app_conf(application_id, 'features.central_database', False)%}
  database:
{% endif %}
{{ "\n" }}