{# This template needs to be included in docker-compose.yml which contain a database and additional volumes #}
volumes:
{% if applications | is_docker_service_enabled(application_id, 'database') and not applications | get_app_conf(application_id, 'features.central_database', False) %}
  database:
    name: {{ database_volume }}
{% endif %}
{% if applications | is_docker_service_enabled(application_id, 'redis') or applications | get_app_conf(application_id, 'features.oauth2', False)  %}
  redis:
    name: {{ application_id | get_entity_name }}
{% endif %}
{{ "\n" }}