#!/bin/bash
# Pulls the remote backups from multiple hosts
hosts="{{pull_remote_backups_hosts}}";
errors=0
for host in $hosts; do
  bash {{docker_pull_primary_backups_folder}}/pull-remote-backup.sh $host || ((errors+=1));
done;
exit $errors;
