version: '3'

services:
  application:
    logging:
      driver: journald
    image: matomo
    restart: always
    ports:
      - "127.0.0.1:{{http_port}}:80"
    environment:
      MATOMO_DATABASE_HOST: "{{database_host}}:3306"
      MATOMO_DATABASE_ADAPTER: "mysql"
      MATOMO_DATABASE_USERNAME: "{{database_username}}"
      MATOMO_DATABASE_PASSWORD: "{{database_password}}"
      MATOMO_DATABASE_DBNAME: "{{database_databasename}}"
    volumes:
      - data:/var/www/html
{% if not enable_central_database %}
    depends_on:
      - database
{% include 'templates/docker-{{ database_type }}-service.yml.j2' %}

{% endif %}

{% include 'templates/docker-compose-volumes.yml.j2' %}
  data:
