services:

{% include 'templates/docker/services/' + database_type + '.yml.j2' %}

  application:
    logging:
      driver: journald
    image: matomo:{{applications.matomo.version}}
    restart: {{docker_restart_policy}}
    ports:
      - "127.0.0.1:{{http_port}}:80"
    environment:
      MATOMO_DATABASE_HOST:     "{{database_host}}:{{database_port}}"
      MATOMO_DATABASE_ADAPTER:  "mysql"
      MATOMO_DATABASE_USERNAME: "{{database_username}}"
      MATOMO_DATABASE_PASSWORD: "{{database_password}}"
      MATOMO_DATABASE_DBNAME:   "{{database_name}}"
    volumes:
      - data:/var/www/html
{% include 'templates/docker/container/depends-on-just-database.yml.j2' %}
{% include 'templates/docker/container/networks.yml.j2' %}

{% include 'templates/docker/compose/volumes.yml.j2' %}
  data:

{% include 'templates/docker/compose/networks.yml.j2' %}
