- name: install certbot
  pacman:
    name: [certbot,certbot-nginx]
    state: present
  when: run_once_nginx_certbot is not defined

- name: configure nginx-certbot.cymais.service
  template: 
    src:  nginx-certbot.service.j2
    dest: /etc/systemd/system/nginx-certbot.cymais.service
  notify: reload certbot service
  when: run_once_nginx_certbot is not defined

- name: set service_name to the name of the current role
  set_fact:
    service_name: "{{ role_name }}"
  when: run_once_nginx_certbot is not defined

- name: "include role for systemd-timer for {{service_name}}"
  include_role:
    name: systemd-timer
  vars:
    on_calendar:  "{{on_calendar_renew_lets_encrypt_certificates}}"
    persistent:   "true"
  when: run_once_nginx_certbot is not defined

- name: run the nginx_certbot tasks once
  set_fact:
    run_once_nginx_certbot: true
  when: run_once_nginx_certbot is not defined
