{% include 'roles/docker-compose/templates/base.yml.j2' %}

  pds:
{% set container_port = 3000 %}
{% set container_healthcheck = 'xrpc/_health' %}
    image: "{{ applications[application_id].images.pds }}"
{% include 'roles/docker-container/templates/base.yml.j2' %}
    volumes:
        - pds_data:/opt/pds
        - {{pdsadmin_file_path}}:/usr/local/bin/pdsadmin:ro
    ports:
      - "127.0.0.1:{{ports.localhost.http.bluesky_api}}:{{ container_port }}"

{% include 'roles/docker-container/templates/healthcheck/wget.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}

#  Deactivated for the moment @see https://github.com/bluesky-social/social-app
  web:
    command: ["bskyweb","serve"]
    build:
      context: "{{ social_app_path }}"
      dockerfile: Dockerfile 
      # It doesn't compile yet with this parameters. @todo Fix it
      args:
        REACT_APP_PDS_URL: "{{ web_protocol }}://{{domains.[application_id].api}}" # URL des PDS
        REACT_APP_API_URL: "{{ web_protocol }}://{{domains.[application_id].api}}" # API-URL des PDS
        REACT_APP_SITE_NAME: "{{primary_domain | upper}} - Bluesky"
        REACT_APP_SITE_DESCRIPTION: "Decentral Social "
    ports:
      - "127.0.0.1:{{ports.localhost.http.bluesky_web}}:8100"
    healthcheck:
      test: ["CMD", "sh", "-c", "for pid in $(ls /proc | grep -E '^[0-9]+$'); do if cat /proc/$pid/cmdline 2>/dev/null | grep -q 'bskywebserve'; then exit 0; fi; done; exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  pds_data:

{% include 'roles/docker-compose/templates/networks.yml.j2' %}