[app]
# Interface and port where the application will run its webserver.  The default value
# of localhost will only listen to connections from the current machine. To
# listen on all interfaces use '0.0.0.0'. To listen on the default web address
# port, use port 80 (this will require running with elevated permissions).
address = "0.0.0.0:9000"

# BasicAuth authentication for the admin dashboard. This will eventually
# be replaced with a better multi-user, role-based authentication system.
# IMPORTANT: Leave both values empty to disable authentication on admin
# only where an external authentication is already setup.
# admin_username = "{{listmonk_admin_username}}"
# admin_password = "{{listmonk_admin_password}}"
# Deactivated for newer versions

# Database.
[db]
host = "{{database_host}}"
port = 5432
user = "{{database_username}}"
password = "{{database_password}}"

# Ensure that this database has been created in Postgres.
database = "{{database_name}}"

ssl_mode = "disable"
max_open = 25
max_idle = 25
max_lifetime = "300s"

# Optional space separated Postgres DSN params. eg: "application_name=listmonk gssencmode=disable"
params = ""