version: "3.7"

services:

  application:
    restart: unless-stopped
    image: listmonk/listmonk:latest
    ports:
      - "127.0.0.1:{{http_port}}:9000"
    environment:
      - TZ=Etc/UTC
    volumes:
      - ./config.toml:/listmonk/config.toml

{% if not enable_central_database %}
    depends_on:
      - database

{% include 'templates/docker-postgres-service.yml.j2' %}

volumes:
  database:
{% endif %}