version: "3.7"

services:

{% include 'templates/docker-service-' + database_type + '.yml.j2' %}

  application:
    restart: unless-stopped
    image: listmonk/listmonk:latest
    ports:
      - "127.0.0.1:{{http_port}}:9000"
    environment:
      - TZ=Etc/UTC
    volumes:
      - ./config.toml:/listmonk/config.toml
{% include 'templates/docker-container-networks.yml.j2' %}
{% include 'templates/docker-container-depends-on-just-database.yml.j2' %}

{% include 'templates/docker-compose-volumes.yml.j2' %}

{% include 'templates/docker-compose-networks.yml.j2' %}