services:

{% include 'roles/docker-central-database/templates/services/' + database_type + '.yml.j2' %}

  application:
{% include 'roles/docker-compose/templates/services/base.yml.j2' %}
    image: listmonk/listmonk:{{applications.listmonk.version}}
    ports:
      - "127.0.0.1:{{ports.localhost.http[application_id]}}:9000"
    volumes:
      - {{docker_compose.directories.config}}config.toml:/listmonk/config.toml
{% include 'templates/docker/container/networks.yml.j2' %}
{% include 'templates/docker/container/depends-on-just-database.yml.j2' %}
    healthcheck:
      test: ['CMD-SHELL', 'wget -q --spider --proxy=off localhost:9000/health || exit 1']

{% include 'templates/docker/compose/volumes-just-database.yml.j2' %}

{% include 'templates/docker/compose/networks.yml.j2' %}