# Allow multiple sub_filters
sub_filter_once off;
sub_filter_types text/html;

{% if global_matomo_tracking_enabled | bool %}
  # Include Global Matomo Tracking
  {% include 'roles/nginx-modifier-matomo/templates/matomo-tracking.conf.j2' %}
{% endif %}

{% if global_theming_enabled | bool or global_matomo_tracking_enabled | bool%}
  sub_filter '</head>' '{% if global_matomo_tracking_enabled | bool %}{% include 'roles/nginx-modifier-matomo/templates/script.j2' %}{% endif %}{% if global_theming_enabled | bool %}{% include 'roles/nginx-modifier-css/templates/link.j2' %}{% endif %}</head>';
{% endif %}

{% if global_theming_enabled | bool %}
  # Include Global CSS Location
  {% include 'roles/nginx-modifier-css/templates/location.conf.j2' %}
{% endif %}
