version: '3.1'

services:
  
  synapse:
    image: matrixdotorg/synapse:latest
    restart: always
    logging:
      driver: journald
    volumes:
      - synapse_data:/data
      - ./homeserver.yaml:/data/homeserver.yaml:ro
      - ./{{domain}}.log.config:/data/{{domain}}.log.config:ro
    environment:
      - SYNAPSE_SERVER_NAME={{domain}}
      - SYNAPSE_REPORT_STATS=no
    ports:
      - "127.0.0.1:{{http_port}}:8008"
    depends_on:
      - database
  database:
    logging:
      driver: journald
    image: mariadb
    restart: always
    environment:
      MYSQL_DATABASE: "matrix"
      MYSQL_USER: "matrix"
      MYSQL_PASSWORD: "{{matrix_database_password}}"
      MYSQL_ROOT_PASSWORD: "{{matrix_database_password}}"
      MARIADB_AUTO_UPGRADE: "1"
    volumes:
      - database:/var/lib/mysql
    healthcheck:
      test: "/usr/bin/mariadb --user=matrix --password={{matrix_database_password}} --execute \"SHOW DATABASES;\""
      interval: 3s
      timeout: 1s
      retries: 5

  # bridges
  #mautrix-telegram:
  #  container_name: mautrix-telegram
  #  image: dock.mau.dev/mautrix/telegram:<version>
  #  restart: unless-stopped
  #  volumes:
  #  - telegram_bridge_data:/data

  #mautrix-whatsapp:
  #  container_name: mautrix-whatsapp
  #  image: dock.mau.dev/mautrix/whatsapp:<version>
  #  restart: unless-stopped
  #  volumes:
  #  - whatsapp_bridge_data:/data

  #mautrix-facebook:
  #  container_name: mautrix-facebook
  #  image: dock.mau.dev/mautrix/facebook:<version>
  #  restart: unless-stopped
  #  volumes:
  #  - facebook_bridge_data:/data

  #mautrix-instagram:
  #  container_name: mautrix-instagram
  #  image: dock.mau.dev/mautrix/instagram:<version>
  #  restart: unless-stopped
  #  volumes:
  #  - instagram_bridge_data:/data  

volumes:
  database:
  synapse_data:
  #telegram_bridge_data:
  #whatsapp_bridge_data:
  #facebook_bridge_data:
  #instagram_bridge_data:
networks:
  default:
    driver: bridge