[Unit]
Description=docker volume update
OnFailure=systemd-email@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python /usr/local/bin/docker-volume-backup/docker-volume-backup.py
