[Unit]
Description=checking disc space
OnFailure=sys-alm-compose.cymais@%n.service

[Service]
Type=oneshot
ExecStart=/bin/bash {{health_disc_space_folder}}sys-hlth-disc-space.sh {{size_percent_disc_space_warning}}
