services:
  application:
    build: 
      context:  .
      dockerfile: Dockerfile
      args:
        SPHINX_HOST_SOURCE_DIR_RELATIVE: {{host_sphinx_source_dir_relative}}/
        SPHINX_HOST_EXEC_DIR_RELATIVE:   {{host_sphinx_exec_dir_relative}}/
    ports:
      - "127.0.0.1:{{ports.localhost.http[application_id]}}:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:8000"]
      interval: 1m
      timeout: 10s
      retries: 3
{% include 'roles/docker-compose/templates/services/base.yml.j2' %}
{% include 'templates/docker/container/networks.yml.j2' %}

{% include 'templates/docker/compose/networks.yml.j2' %}
