<?php
return [
  'dbhost'     => '{{ database_host }}:{{ database_port }}',
  'dbname'     => '{{ database_name }}',
  'dbuser'     => '{{ database_username }}',
  'dbpassword' => '{{ database_password }}',
];
