# Set default values for all following accounts.
defaults
auth           on
logfile        ~/.msmtp.log
tls_starttls   {{ 'on' if system_email.start_tls else 'off' }}
{% if system_email.tls %}
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
{% else %}
tls            off
{% endif %}

account        system_email
host           {{system_email.host}}
port           {{system_email.port}}
from           {{system_email.from}}
user           {{system_email.username}}
password       {{system_email.password}}

account default : system_email
