# Set default values for all following accounts.
defaults
auth           on
logfile        ~/.msmtp.log
{% if system_email_tls %}
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
{% else %}
tls            off
{% endif %}

account        system_email
host           {{system_email_host}}
port           {{system_email_smtp_port}}
from           {{system_email_address}}
user           {{system_email_address}}
password       {{system_email_password}}

account default : system_email
