# Set default values for all following accounts.
defaults
auth           on
logfile        ~/.msmtp.log
tls_starttls   {{ 'on' if system_email_start_tls else 'off' }}
{% if system_email_tls %}
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
{% else %}
tls            off
{% endif %}

account        system_email
host           {{system_email_host}}
port           {{system_email_smtp_port}}
from           {{system_email_from}}
user           {{system_email_username}}
password       {{system_email_password}}

account default : system_email
