#!/bin/bash

/usr/bin/sendmail -t <<ERRMAIL
To: {{administrator_email}}
From: systemd <{{system_email_from}}>
Subject: $1
Content-Transfer-Encoding: 8bit
Content-Type: text/plain; charset=UTF-8

A problem with the service $1 occured:

$(systemctl status --full "$1" | head -n 30)


ERRMAIL
