#!/bin/bash

/usr/bin/sendmail -t <<ERRMAIL
To: {{ users.administrator.email }}
From: systemd <{{ users['no-reply'].email }}>
Subject: $1
Content-Transfer-Encoding: 8bit
Content-Type: text/plain; charset=UTF-8

A problem with the service $1 occured:

$(systemctl status --full "$1" | head -n 30)


ERRMAIL
