version: '3.8'

services:

{% include 'templates/docker-service-redis.yml.j2' %}

{% include 'templates/docker-service-' + database_type + '.yml.j2' %}

{% include 'templates/docker-compose-volumes.yml.j2' %}
  redis:

{% include 'templates/docker-compose-networks.yml.j2' %}
    external: true