{% include 'roles/docker-compose/templates/base.yml.j2' %}

{% include 'templates/docker/compose/volumes.yml.j2' %}
  redis:

{% include 'templates/docker/compose/networks.yml.j2' %}
  discourse_default:
    external: true