version: '3'

services:
  discourse:
    image: discourse/base:release
    depends_on:
      - database
      - redis
    volumes:
      - data:/shared
    environment:
      DISCOURSE_DB_HOST: database
      DISCOURSE_DB_NAME: discourse
      DISCOURSE_DB_USERNAME: discourse
      DISCOURSE_DB_PASSWORD: {{discourse_database_password}}
      DISCOURSE_REDIS_HOST: redis
    ports:
      - "127.0.0.1:{{http_port}}:80"
  database:
    image: postgres:latest
    environment:
      POSTGRES_DB: discourse
      POSTGRES_USER: discourse
      POSTGRES_PASSWORD: {{discourse_database_password}}
    volumes:
      - database:/var/lib/postgresql/data
  redis:
    image: redis:latest
    volumes:
      - redis_data:/data
volumes:
  database:
  data:
  redis_data: