services:

{% include 'templates/docker/services/redis.yml.j2' %}

{% include 'roles/docker-central-database/templates/services/' + database_type + '.yml.j2' %}

  application:
{% include 'roles/docker-compose/templates/services/base.yml.j2' %}
    image: "baserow/baserow:{{applications.baserow.version}}"
    container_name: baserow-application
    volumes:
      - data:/baserow/data
    ports:
      - "{{ports.localhost.http[application_id]}}:80"
{% include 'templates/docker/container/networks.yml.j2' %}
{% include 'templates/docker/container/depends-on-database-redis.yml.j2' %}

{% include 'templates/docker/compose/volumes.yml.j2' %}
  data:
  redis:

{% include 'templates/docker/compose/networks.yml.j2' %}