version: '2'

services:
  baserow:
    image: baserow/baserow:1.19.1
    restart: always
    logging:
      driver: journald
    env_file:
      - ./env
    volumes:
      - data:/baserow/data
    ports:
      - "{{http_port}}:80"
volumes:
  data: