version: '3'

services:
  application:
    image: "nextcloud:{{version_nextcloud}}-fpm-alpine"
    restart: always
    logging:
      driver: journald
    volumes:
      - data:/var/www/html
    environment:
      MYSQL_DATABASE: "{{database_databasename}}"
      MYSQL_USER: "{{database_username}}"
      MYSQL_PASSWORD: "{{database_password}}"
      MYSQL_HOST: {{database_host}}:3306
{% if not enable_central_database %}
    depends_on:
      - database

{% include 'templates/docker-{{ database_type }}-service.yml.j2' %}
{% endif %}

  web:
    image: nginx:alpine
    logging:
      driver: journald
    restart: always
    ports:
      - "127.0.0.1:{{http_port}}:80"
    depends_on:
      - application
    volumes:
        - "{{path_docker_volumes}}nextcloud/nginx.conf:/etc/nginx/nginx.conf:ro"
    volumes_from:
      - application

{% include 'templates/docker-redis-service.yml.j2' %}

  cron:
    image: "nextcloud:{{version_nextcloud}}-fpm-alpine"
    restart: always
    logging:
      driver: journald
    volumes:
      - data:/var/www/html
    entrypoint: /cron.sh
{% include 'templates/docker-depends-on-central-database.yml.j2' %}
      redis:
volumes:
{% include 'templates/docker-database-volume.yml.j2' %}
  data:
  redis:
