[Unit]
Description=Mailu service
After=network.target docker.service

[Service]
Type=simple
WorkingDirectory=/usr/local/bin/mailu
ExecStart=/bin/docker-compose up
ExecStop=/bin/docker-compose down

[Install]
WantedBy=multi-user.target
