{% include 'roles/docker-compose/templates/base.yml.j2' %}
  infinito-presentation:
    build:
      context:    {{ path_infinito_presentation_output.stdout }}
      dockerfile: {{ path_infinito_presentation_output.stdout }}/Dockerfile
    ports:
      - "127.0.0.1:{{ports.localhost.http[application_id]}}:5000"
    volumes:
      - {{ path_infinito_presentation_output.stdout }}:/app
      - {{ path_infinito_output.stdout }}:/source
{% include 'roles/docker-container/templates/base.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}

