{% include 'roles/docker-compose/templates/base.yml.j2' %}

  web:
    image: "{{ applications | get_app_conf(application_id, 'images.web', True) }}"
    ports:
    - "{{ports.localhost.http[application_id]}}:80"
    volumes:
      - .:/usr/share/nginx/html
      - .:/var/www
{% include 'roles/docker-container/templates/depends_on/dmbs_incl.yml.j2' %}
      maildev:
      worker:
    env_file:
      - ./.env
{% include 'roles/docker-container/templates/networks.yml.j2' %}

  worker:
    image: "{{ applications | get_app_conf(application_id, 'images.worker', True) }}"
{% include 'roles/docker-container/templates/depends_on/dmbs_incl.yml.j2' %}
      maildev:
{% include 'roles/docker-container/templates/networks.yml.j2' %}
    volumes:
      - .:/usr/share/nginx/html
      - .:/var/www

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  redis:

{% include 'roles/docker-compose/templates/networks.yml.j2' %}