services:

{% include 'roles/docker-central-database/templates/services/' + database_type + '.yml.j2' %}

  application:
    logging:
      driver: journald
    image: yourls:{{applications.yourls.version}}
    restart: {{docker_restart_policy}}
    ports:
      - "127.0.0.1:{{http_port}}:80"
    environment:
      YOURLS_DB_HOST: "{{database_host}}"
      YOURLS_DB_USER: "{{database_username}}"
      YOURLS_DB_PASS: "{{database_password}}"
      YOURLS_DB_NAME: "{{database_name}}"
      YOURLS_SITE:    "https://{{domain}}"
      YOURLS_USER:    "{{applications.yourls.administrator_username}}"
      YOURLS_PASS:    "{{yourls_administrator_password}}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1/admin/"]
      interval: 1m
      timeout: 10s
      retries: 3

{% include 'templates/docker/container/depends-on-just-database.yml.j2' %}
{% include 'templates/docker/container/networks.yml.j2' %}

{% include 'templates/docker/compose/volumes-just-database.yml.j2' %}
{% include 'templates/docker/compose/networks.yml.j2' %}
