version: '3'

services:
  application:
    logging:
      driver: journald
    image: yourls
    restart: always
    ports:
      - "127.0.0.1:{{http_port}}:80"
    environment:
      YOURLS_DB_HOST: "database:3306"
      YOURLS_DB_USER: "yourls"
      YOURLS_DB_PASS: "{{yourls_database_password}}"
      YOURLS_DB_NAME: "yourls"
      YOURLS_SITE: "https://{{domain}}"
      YOURLS_USER: "{{yourls_user}}"
      YOURLS_PASS: "{{yourls_user_password}}"
{% if not enable_central_database %}
    depends_on:
      - database

{% include 'templates/docker-{{ database_type }}-service.yml.j2' %}

volumes:
  database:
{% endif %}
