{% include 'roles/docker-compose/templates/base.yml.j2' %}

  application:
{% set container_port = 80 %}
{% set container_healthcheck = 'http://127.0.0.1/admin/' %}
    image: yourls:{{applications.yourls.version}}
{% include 'roles/docker-container/templates/base.yml.j2' %}
    ports:
      - "127.0.0.1:{{ports.localhost.http[application_id]}}:{{ container_port }}"
{% include 'roles/docker-container/templates/healthcheck/curl.yml.j2' %}

{% include 'roles/docker-container/templates/depends_on_dmbs.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{% include 'roles/docker-compose/templates/volumes-just-database.yml.j2' %}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}
