---
- name: "include docker-compose-database.yml"
  include_tasks: docker-compose-database.yml
  
- name: "include create-domains.yml"
  include_tasks: create-domains.yml
  loop: "{{ domains }}"
  loop_control:
    loop_var: domain

- name: copy docker-compose.yml
  template: src=docker-compose.yml.j2 dest={{docker_compose_instance_directory}}docker-compose.yml
  notify: docker compose project setup

- name: copy configuration
  template: 
    src: env.j2 
    dest: "{{docker_compose_instance_directory}}.env"
  notify: docker compose project setup
