[Unit]
Description=starts health-docker-container.service

[Timer]
OnCalendar={{on_calendar_health_docker_container}}
RandomizedDelaySec={{randomized_delay_sec}}
Persistent=false

[Install]
WantedBy=timers.target
