{% include 'roles/docker-compose/templates/base.yml.j2' %}

  application:
    container_name: {{ application_id }}
    image: "{{ applications[application_id].images.lam }}"
    ports:
      - 127.0.0.1:{{ports.localhost.http[application_id]}}:80 
{% include 'roles/docker-container/templates/base.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}