server
{
  server_name {{domains | get_domain(application_id)}};
  
  {% include 'roles/net-letsencrypt/templates/ssl_header.j2' %}

  {% include 'roles/srv-web-injector-core/templates/global.includes.conf.j2'%}

  {% include 'roles/srv-web-proxy-core/templates/headers/content_security_policy.conf.j2' %}
  charset utf-8;
  
  location /
  {
    alias {{nginx.directories.data.files}};  {# Path to your file directory #}
    autoindex on;                            {# Enable directory listing #}
    autoindex_exact_size off;                {# Display sizes in a human-readable format #}
    autoindex_localtime on;                  {# Show local time #}
  }

  location /.well-known/ {
    alias {{nginx.directories.data.well_known}};
    allow all;
    default_type "text/plain";
    autoindex on;
  }
}
