services:
    application:
        container_name: roulette_application
        build:
            context: .
        ports:
        - 127.0.0.1:{{http_port}}:8080
        restart: {{docker_restart_policy}}