{% include 'roles/docker-compose/templates/base.yml.j2' %}
  application:
    logging:
      driver: journald
      options:
        tag: "mybb_application"
    image: mybb/mybb:{{applications.mybb.version}}
    restart: {{docker_restart_policy}}
    volumes:
      - data:/var/www/html
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}

  server:
    logging:
      driver: journald
      options:
        tag: "mybb_server"
    image: nginx:mainline
    restart: {{docker_restart_policy}}
    ports:
      - "127.0.0.1:{{ports.localhost.http[application_id]}}:80"
    volumes:
    - "{{docker_compose_instance_confd_directory}}:{{target_mount_conf_d_directory}}:ro"
    - "data:/var/www/html:ro"
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  data:

{% include 'roles/docker-compose/templates/networks.yml.j2' %}