location /
{
  {% if https_port is defined %}
    proxy_pass https://127.0.0.1:{{https_port}}/;
  {% else %}
    proxy_pass http://127.0.0.1:{{http_port}}/;
  {% endif %}

  # headers
  proxy_set_header Host $host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-Proto https;
  proxy_set_header X-Forwarded-Port 443;

  # deactivate buffering
  proxy_buffering off;
  proxy_request_buffering off;

  # timeouts
  proxy_connect_timeout       1s;
  proxy_send_timeout          900s;
  proxy_read_timeout          900s;
  send_timeout                900s;
}
