services:

{% include 'templates/docker/services/redis.yml.j2' %}

{% include 'roles/docker-central-database/templates/services/' + database_type + '.yml.j2' %}

  application:
    image: snipe/snipe-it:${APP_VERSION}
    restart: {{docker_restart_policy}}
    volumes:
      - data:/var/lib/snipeit
    ports:
      - "${APP_PORT}:80"
{% include 'templates/docker/container/depends-on-database-redis.yml.j2' %}
    env_file:
      - .env  # Will also be read, without explicit declaring it here
{% include 'templates/docker/container/networks.yml.j2' %}

{% include 'templates/docker/compose/volumes.yml.j2' %}
  redis:
  data:

{% include 'templates/docker/compose/networks.yml.j2' %}