version: "3.3"

services:
  application:
    image: chocobozzz/peertube:production-bullseye
    env_file:
      - .env
    ports:
     - "1935:1935"
     - "{{http_port}}:9000" 
    volumes:
      - assets:/app/client/dist
      - data:/data
      - config:/config
    restart: "always"
    depends_on:
      - redis
{% if not ( enable_central_database | lower | bool )  %}
      - database

{% include 'templates/docker-postgres-service.yml.j2' %}
{% endif %}

{% include 'templates/docker-redis-service.yml.j2' %}

    env_file:
      - .env
volumes:
  assets:
{% if not ( enable_central_database | lower | bool )  %}
  database:
{% endif %}
  data:
  redis:
  config: