{# This template needs to be included in docker-compose.yml containers, which just depend on a database #}
{% if not enable_central_database | bool %}
    depends_on:
      database:
        condition: service_healthy
{% endif %}
{{ "\n" }}