{# This template needs to be included in docker-compose.yml containers which depend on a database and additional containers #}
    depends_on:
{% if not applications | is_feature_enabled('central_database',application_id) %}
      database:
        condition: service_healthy
{% endif %}
{{ "\n" }}