{# This template needs to be included in docker-compose.yml containers, which just depend on a database #}
{% if not applications[application_id].database.central_storage | bool %}
    depends_on:
      database:
        condition: service_healthy
{% endif %}
{{ "\n" }}