{# This template needs to be included in docker-compose.yml containers #}
    networks:
{% if applications | get_database_central_storage(application_id) | bool and database_type is defined %}
      central_{{ database_type }}:
{% endif %}
{% if applications[application_id].get('features', {}).get('ldap', false) | bool and applications.ldap.network.local|bool %}
      central_ldap:
{% endif %}
      default:
{{ "\n" }}