{% include 'roles/docker-compose/templates/base.yml.j2' %}
  application:
    image: "{{ applications[application_id].images.joomla }}"
{% include 'roles/docker-container/templates/base.yml.j2' %}
    volumes:
      - data:/var/www/html
    ports:
      - "127.0.0.1:{{ports.localhost.http[application_id]}}:80"
{% include 'templates/docker/container/networks.yml.j2' %}
{% include 'roles/docker-container/templates/depends_on_dmbs.j2' %}

{% include 'templates/docker/compose/volumes.yml.j2' %}
  data:

{% include 'templates/docker/compose/networks.yml.j2' %}
