services:

{% include 'templates/docker/services/' + database_type + '.yml.j2' %}

  application:
    image: "joomla:{{joomla_version}}"
    logging:
      driver: journald
    environment:
      JOOMLA_DB_HOST: "{{database_host}}:3306"
      JOOMLA_DB_USER: "{{database_username}}"
      JOOMLA_DB_PASSWORD: "{{database_password}}"
      JOOMLA_DB_NAME: "{{database_name}}"
    restart: {{docker_restart_policy}}
    volumes:
      - data:/var/www/html
    ports:
      - "127.0.0.1:{{http_port}}:80"
{% include 'templates/docker/container/networks.yml.j2' %}
{% include 'templates/docker/container/depends-on-just-database.yml.j2' %}

{% include 'templates/docker/compose/volumes.yml.j2' %}
  data:

{% include 'templates/docker/compose/networks.yml.j2' %}
