version: '3'

services:
  application:
    image: joomla
    logging:
      driver: journald
    environment:
      JOOMLA_DB_HOST: "{{database_host}}:3306"
      JOOMLA_DB_USER: "{{database_username}}"
      JOOMLA_DB_PASSWORD: "{{database_password}}"
      JOOMLA_DB_NAME: "{{database_databasename}}"
    restart: always
{% include 'templates/docker-depends-on-central-database.yml.j2' %}
    volumes:
      - data:/var/www/html
    ports:
      - "127.0.0.1:{{http_port}}:80"
{% include 'templates/docker-networks-for-container.yml.j2' %}
{% if enable_central_database %}
    depends_on:
      database:

{% include 'templates/docker-{{ database_type }}-service.yml.j2' %}

volumes:
  data:
{% include 'templates/docker-database-volume.yml.j2' %}

{% include 'templates/docker-networks-for-role.yml.j2' %}
