worker_processes auto;

events
{
  worker_connections 1024;
}

http
{
  proxy_cache_path /tmp/cache levels=1:2 keys_zone=cache:60m max_size=1G;
  include mime.types;
  default_type text/html;
  access_log /dev/null;
  error_log syslog:server=unix:/dev/log;
  sendfile on;
  keepalive_timeout 65;
  gzip on;
  gzip_proxied any;
  gzip_types text/plain text/xml text/css application/x-javascript text/javascript application/xml+rss;
  gzip_vary on;
  gzip_disable "MSIE [1-6]\.(?!.*SV1)";
  types_hash_max_size 4096;
  include conf.d/*.conf;
}
