    healthcheck:
      test: 
        - "CMD"
        - "wget"
        - "--spider"
        - "--proxy=off"
        - "http://127.0.0.1{{ (":" ~ container_port) if container_port is defined else '' }}/{{ container_healthcheck | default('') }}"
      interval: 1m
      timeout: 10s
      retries: 3
{{ "\n" }}