# This template needs to be included in docker-compose.yml contaienrs, which depend on a database, redis and optional additional volumes
    depends_on:
{% if enable_central_database | bool %}
      database:
        condition: service_healthy
{% endif %}
      redis:
        condition: service_healthy