# This template needs to be included in docker-compose.yml, which depend on redis
  redis:
    image: redis:alpine
    restart: always
    logging:
      driver: journald
    volumes:
      - redis:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 30
    networks:
      - {{docker_compose_project_name}}_network