# This template needs to be included in docker-compose.yml, which depend on a mariadb database
{% if not enable_central_database | bool %}
  database:
    container_name: {{docker_compose_project_name}}-mariadb
    logging:
      driver: journald
    image: mariadb
    restart: always
    environment:
      MYSQL_DATABASE: "{{database_name}}"
      MYSQL_USER: "{{database_username}}"
      MYSQL_PASSWORD: "{{database_password}}"
      MYSQL_ROOT_PASSWORD: "{{database_password}}"
      MARIADB_AUTO_UPGRADE: "1"
    command: "--transaction-isolation=READ-COMMITTED --binlog-format=ROW"
    volumes:
      - database:/var/lib/mysql
    healthcheck:
      test: "/usr/bin/mariadb --user={{database_username}} --password={{database_password}} --execute \"SHOW DATABASES;\""
      interval: 3s
      timeout: 1s
      retries: 5
    networks:
      - default
{% endif %}
{{ "\n" }}