  
  database:
    image: postgres:{{database_version}}-alpine
    environment:
      - POSTGRES_PASSWORD={{database_password}}
      - POSTGRES_USER={{database_username}}
      - POSTGRES_DB={{database_databasename}}
      - POSTGRES_INITDB_ARGS="--encoding=UTF8 --locale=C"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U {{database_databasename}}"]
      interval: 10s
      timeout: 5s
      retries: 6
    volumes:
      - type: volume
        source: database
        target: /var/lib/postgresql/data
