# This template needs to be included in docker-compose.yml contaienrs, which just depend on a database
{% if enable_central_database %}
    depends_on:
      database:
		    condition: service_healthy
{% endif %}