server
{
  server_name {{domains | get_domain(application_id)}};
  
  {% include 'roles/net-letsencrypt/templates/ssl_header.j2' %}

  {% include 'roles/srv-web-injector-compose/templates/global.includes.conf.j2'%}

  {% include 'roles/srv-web-proxy-core/templates/headers/content_security_policy.conf.j2' %}
  charset utf-8;
  
  location /
  {
    root {{nginx.directories.data.html}};
    index index.html index.htm;
  }

  location /.well-known/ {
    alias {{nginx.directories.data.well_known}};
    allow all;
    default_type "text/plain";
    autoindex on;
  }
}
