version: '3'

services:
  application:
    logging:
      driver: journald
    image: custom_wordpress
    build:
      context: .
    restart: always
    ports:
      - "127.0.0.1:{{http_port}}:80"
    environment:
      WORDPRESS_DB_HOST:      "{{database_host}}:3306"
      WORDPRESS_DB_USER:      "{{database_username}}"
      WORDPRESS_DB_PASSWORD:  "{{database_password}}"
      WORDPRESS_DB_NAME:      "{{database_databasename}}"
    volumes:
      - data:/var/www/html
{% if not enable_central_database %}    
    depends_on:
      - database

{% include 'templates/docker-{{ database_type }}-service.yml.j2' %}
{% endif %}

volumes:
{% include 'templates/docker-database-volume.yml.j2' %}
  data:
