services:

{% include 'roles/docker-central-database/templates/services/' + database_type + '.yml.j2' %}

  application:
    {% include 'roles/docker-compose/templates/services/base.yml.j2' %}
    image: {{custom_wordpress_image}}
    container_name: wordpress-application
    build:
      context: .
    ports:
      - "127.0.0.1:{{ports.localhost.http[application_id]}}:80"
    volumes:
      - data:/var/www/html

{% include 'roles/docker-compose/templates/services/msmtp_curl_test.yml.j2' %}

{% include 'templates/docker/container/depends-on-just-database.yml.j2' %}
{% include 'templates/docker/container/networks.yml.j2' %}

{% include 'templates/docker/compose/networks.yml.j2' %}

{% include 'templates/docker/compose/volumes.yml.j2' %}
  data:
