version: '3'

services:
  application:
    logging:
      driver: journald
    image: wordpress
    restart: always
    ports:
      - "127.0.0.1:{{http_port}}:80"
    environment:
      WORDPRESS_DB_HOST:      database:3306
      WORDPRESS_DB_USER:      "wordpress"
      WORDPRESS_DB_PASSWORD:  "{{wordpress_database_password}}"
      WORDPRESS_DB_NAME:      "wordpress"
    links:
      - database
    volumes:
      - data:/var/www/html
    depends_on:
      - database
  database:
    logging:
      driver: journald
    image: mariadb
    restart: always
    environment:
      MYSQL_DATABASE: "wordpress"
      MYSQL_USER: "wordpress"
      MYSQL_PASSWORD: "{{wordpress_database_password}}"
      MYSQL_ROOT_PASSWORD: "{{wordpress_database_password}}"
    volumes:
      - database:/var/lib/mysql
    healthcheck:
      test: "/usr/bin/mysql --user=wordpress --password={{wordpress_database_password}} --execute \"SHOW DATABASES;\""
      interval: 3s
      timeout: 1s
      retries: 5
volumes:
  database:
  data:
networks:
  default:
    driver: bridge
