services:

{% include 'roles/docker-oauth2-proxy/templates/container.yml.j2' %}

  application:
    image: phpmyadmin/phpmyadmin:{{applications.phpmyadmin.version}}
    container_name: phpmyadmin
{% include 'roles/docker-compose/templates/services/base.yml.j2' %}
    ports:
      - "127.0.0.1:{{http_port}}:80"
{% include 'templates/docker/container/depends-on-just-database.yml.j2' %}
{% include 'templates/docker/container/networks.yml.j2' %}
    healthcheck:
      test: ["CMD", "bash", "-c", "exec 3<>/dev/tcp/localhost/80 && echo -e 'GET / HTTP/1.1\\r\\nHost: localhost\\r\\nConnection: close\\r\\n\\r\\n' >&3 && cat <&3 | grep -q 'HTTP/1.1'"]
      interval: 30s
      timeout: 10s
      retries: 3

{% include 'templates/docker/compose/networks.yml.j2' %}