{% include 'roles/docker-compose/templates/base.yml.j2' %}

  application:
{% include 'roles/docker-container/templates/base.yml.j2' %}
    image: "{{ applications[application_id].images.baserow }}"
    container_name: baserow-application
    volumes:
      - data:/baserow/data
    ports:
      - "{{ports.localhost.http[application_id]}}:80"
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  data:
  redis:

{% include 'roles/docker-compose/templates/networks.yml.j2' %}