{% include 'roles/docker-compose/templates/base.yml.j2' %}

  application:
{% include 'roles/docker-container/templates/base.yml.j2' %}
    image: "{{ baserow_image }}:{{ baserow_version }}"
    container_name: {{ baserow_name }}
    volumes:
      - data:/baserow/data
    ports:
      - "{{ports.localhost.http[application_id]}}:80"
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  data:
    name: {{ baserow_volume }}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}