services:

{% include 'roles/docker-central-database/templates/services/' + database_type + '.yml.j2' %}
  moodle:
    image: docker.io/bitnami/moodle:{{applications.moodle.version}}
    ports:
      - 127.0.0.1:{{http_port}}:8080
{% include 'roles/docker-compose/templates/services/base.yml.j2' %}
    volumes:
      - 'moodle:/bitnami/moodle'
      - 'data:/bitnami/moodledata'
# Healthcheck is not possible due to missing curl and wget in container
# @todo implement healthcheck
#    healthcheck:
#      test: ["CMD", "curl", "-f", "http://127.0.0.1:8080"]
#      interval: 1m
#      timeout: 10s
#      retries: 3
{% include 'templates/docker/container/depends-on-just-database.yml.j2' %}
{% include 'templates/docker/container/networks.yml.j2' %}


{% include 'templates/docker/compose/volumes.yml.j2' %}
  moodle:
  data:

{% include 'templates/docker/compose/networks.yml.j2' %}
  