listening-port={{turn_server_listening_port}}
fingerprint
use-auth-secret
static-auth-secret={{turn_server_secret}}
realm={{turn_server_domain}}
total-quota=0
bps-capacity=0
stale-nonce
no-multicast-peers
