{% include 'roles/docker-compose/templates/base.yml.j2' %}

  web:
    image: "{{ gitlab_image }}:{{ gitlab_version }}"
    hostname: '{{domains | get_domain(application_id)}}'
{% include 'roles/docker-container/templates/base.yml.j2' %}
    ports:
      - "127.0.0.1:{{ports.localhost.http[application_id]}}:80"
      - "{{ports.public.ssh[application_id]}}:22"
    volumes:
      - 'config:/etc/gitlab'
      - 'logs:/var/log/gitlab'
      - 'data:/var/opt/gitlab'
    shm_size: '256m'
{% include 'roles/docker-container/templates/depends_on/dmbs_excl.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  redis:
  config:
  logs:
  data:

{% include 'roles/docker-compose/templates/networks.yml.j2' %}
