[Unit]
Description=Check for CSP-blocked resources via Puppeteer
OnFailure=alert-compose.cymais@%n.service

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 {{ health_csp_crawler_script }} \
  --nginx-config-dir={{ nginx.directories.http.servers }}