---
- name: "include docker-compose-database.yml"
  include_tasks: docker-compose-database.yml

- name: "include tasks nginx-docker-proxy-domain.yml"
  include_tasks: nginx-docker-proxy-domain.yml
  loop: "{{ domains }}"
  loop_control:
    loop_var: domain

- name: add docker-compose.yml
  template: src=docker-compose.yml.j2 dest={{docker_compose_instance_directory}}docker-compose.yml
  notify: docker compose project setup