version: '2'

services:

{% include 'templates/docker-service-{{ database_type }}.yml.j2' %}

{% include 'templates/docker-service-redis.yml.j2' %}

  application:
    image: zknt/pixelfed
    restart: always
    logging:
      driver: journald
    env_file:
      - ./env
    volumes:
      - "application_data:/var/www/storage"
      - "bootstrap:/var/www/bootstrap"
      - "./env:/var/www/.env"
    ports:
      - "{{http_port}}:80"
{% include 'templates/docker-container-depends-on.yml.j2' %}
      redis:
  worker:
    image: zknt/pixelfed
    restart: always
    logging:
      driver: journald
    env_file:
      - ./env
    volumes:
      - "application_data:/var/www/storage"
      - "bootstrap:/var/www/bootstrap"
      - "./env:/var/www/.env"
    entrypoint: /worker-entrypoint.sh
    healthcheck:
      test: php artisan horizon:status | grep running
      interval: 60s
      timeout: 5s
      retries: 1
{% include 'templates/docker-container-depends-on.yml.j2' %}
      redis:
      application:

{% include 'templates/docker-compose-volumes.yml.j2' %}
  redis:
  application_data:
  bootstrap: