{% include 'roles/docker-compose/templates/base.yml.j2' %}
    application:
        container_name: roulette_application
        build:
            context: .
        ports:
        - 127.0.0.1:{{ports.localhost.http[application_id]}}:8080
        restart: {{docker_restart_policy}}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}