---
- name: "include docker/compose/common.yml"
  include_tasks: docker/compose/common.yml

- name: pull app repository
  git:
    repo: "https://github.com/kevinveenbirkenbach/roulette-wheel.git"
    dest: "{{app_path}}"
    update: yes
  notify: docker compose project setup
  become: true
  ignore_errors: true

- name: add docker-compose.yml
  template: src=docker-compose.yml.j2 dest={{docker_compose_instance_directory}}docker-compose.yml
  notify: docker compose project setup

- name: add Dockerfile
  template: src=Dockerfile.j2 dest={{docker_compose_instance_directory}}Dockerfile
  notify: docker compose project setup
