map $http_upgrade $connection_upgrade {
  default upgrade;
  ''      close;
}

server {
  server_name {{ domain }};

  {% include 'roles/srv-web-7-7-letsencrypt/templates/ssl_header.j2' %}

  {% include 'roles/srv-web-7-7-inj-compose/templates/server.conf.j2' %}

  client_max_body_size {{ client_max_body_size | default('100m') }};
  keepalive_timeout    70;
  sendfile             on;

  gzip on;
  gzip_disable "msie6";
  gzip_vary on;
  gzip_proxied any;
  gzip_comp_level 6;
  gzip_buffers 16 8k;
  gzip_http_version 1.1;
  gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript;

  add_header Strict-Transport-Security "max-age=31536000";

  {% include 'roles/srv-proxy-7-4-core/templates/location/html.conf.j2' %}

  {% if location_ws is defined %}
    {% include 'roles/srv-proxy-7-4-core/templates/location/ws.conf.j2' %}
  {% endif %}

  error_page 500 501 502 503 504 /500.html;
}
