{% include 'roles/docker-compose/templates/base.yml.j2' %}
  application:
    build:
      context: .
      dockerfile: Dockerfile
    image: simpleicons-server:latest
    container_name: simpleicons-server
    ports:
      - "{{ports.localhost.http[application_id]}}:{{ container_port }}"
{% include 'roles/docker-container/templates/base.yml.j2' %}
{% include 'roles/docker-container/templates/networks.yml.j2' %}
{% include 'roles/docker-container/templates/healthcheck/curl.yml.j2' %}

{% include 'roles/docker-compose/templates/networks.yml.j2' %}
