# This template needs to be included in docker-compose.yml, which depend on a mariadb database
{% if not applications | get_app_conf(application_id, 'features.central_database', False) %}
  {{ database_host }}:
    container_name: {{application_id}}-database
    logging:
      driver: journald
    image: mariadb
    restart: {{docker_restart_policy}}
    env_file:
      - {{database_env}}
    command: "--transaction-isolation=READ-COMMITTED --binlog-format=ROW"
    volumes:
      - database:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "sh", "-c", "/usr/bin/mariadb --user=$$MYSQL_USER --password=$$MYSQL_PASSWORD --execute 'SHOW DATABASES;'" ]
      interval: 10s
      timeout: 5s
      retries: 18
    networks:
      - default
{% endif %}
{{ "\n" }}