{% include 'roles/docker-compose/templates/base.yml.j2' %}

  postgres:
    container_name:   "{{ postgres_name }}"
    image:            "{{ postgres_custom_image_name }}"
    build:
      context: .
      dockerfile: Dockerfile
{% include 'roles/docker-container/templates/base.yml.j2' %}
{% if postgres_expose_local %}
    ports: 
      - "{{ postgres_local_host }}:{{ postgres_port }}:5432"
{% endif %}
    volumes:
      - "data:/var/lib/postgresql/data"
{% include 'roles/docker-container/templates/networks.yml.j2' %}

{% include 'roles/docker-compose/templates/volumes.yml.j2' %}
  data:
    name: "{{ postgres_volume }}"

{% include 'roles/docker-compose/templates/networks.yml.j2' %}