[Unit]
Description=restart unhealthy docker containers
OnFailure=systemd-email@%n.service

[Service]
Type=oneshot
ExecStart=/bin/python {{docker_docker_compose_restart_unhealthy}}server_docker-compose-restart-unhealthy.py
