[Unit]
Description=pull remote backups

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/local/bin/pull-remote-backups.sh
OnFailure=systemd-email@%n.service
