version: '3.8'
services:
  application:
    logging:
      driver: journald
      options:
        tag: "mybb_application"
    image: mybb/mybb:latest
    restart: always
    links:
      - database
    volumes:
      - data:/var/www/html
  server:
    logging:
      driver: journald
      options:
        tag: "mybb_server"
    links:
      - application
    image: nginx:mainline
    restart: always
    ports:
      - "127.0.0.1:{{http_port}}:80"
    volumes:
    - "{{docker_compose_instance_confd_directory}}:{{target_mount_conf_d_directory}}:ro"
    - "data:/var/www/html:ro"
  database:
    logging:
      driver: journald
      options:
        tag: "mybb_database"
    environment:
      POSTGRES_DB: mybb
      POSTGRES_PASSWORD: "{{mybb_database_password}}"
      POSTGRES_USER: mybb
    image: postgres:alpine
    volumes:
    - database:/var/lib/postgresql/data:rw
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U mybb"]
      interval: 10s
      timeout: 5s
      retries: 6
volumes:
  database:
  data:
networks:
  default:
    driver: bridge