version: '3.8'
services:

{% include 'templates/docker-service-{{ database_type }}.yml.j2' %}

  application:
    logging:
      driver: journald
      options:
        tag: "mybb_application"
    image: mybb/mybb:latest
    restart: always
    volumes:
      - data:/var/www/html
{% include 'templates/docker-container-depends-on-just-database.yml.j2' %}
{% include 'templates/docker-container-networks.yml.j2' %}

  server:
    logging:
      driver: journald
      options:
        tag: "mybb_server"
    image: nginx:mainline
    restart: always
    ports:
      - "127.0.0.1:{{http_port}}:80"
    volumes:
    - "{{docker_compose_instance_confd_directory}}:{{target_mount_conf_d_directory}}:ro"
    - "data:/var/www/html:ro"
{% include 'templates/docker-container-networks.yml.j2' %}

{% include 'templates/docker-compose-volumes.yml.j2' %}
  data:

{% include 'templates/docker-compose-networks.yml.j2' %}