services:

{% include 'templates/docker/services/' + database_type + '.yml.j2' %}

  application:
    logging:
      driver: journald
      options:
        tag: "mybb_application"
    image: mybb/mybb:{{applications.mybb.version}}
    restart: {{docker_restart_policy}}
    volumes:
      - data:/var/www/html
{% include 'templates/docker/container/depends-on-just-database.yml.j2' %}
{% include 'templates/docker/container/networks.yml.j2' %}

  server:
    logging:
      driver: journald
      options:
        tag: "mybb_server"
    image: nginx:mainline
    restart: {{docker_restart_policy}}
    ports:
      - "127.0.0.1:{{http_port}}:80"
    volumes:
    - "{{docker_compose_instance_confd_directory}}:{{target_mount_conf_d_directory}}:ro"
    - "data:/var/www/html:ro"
{% include 'templates/docker/container/networks.yml.j2' %}

{% include 'templates/docker/compose/volumes.yml.j2' %}
  data:

{% include 'templates/docker/compose/networks.yml.j2' %}