#default
server
{
  server_name {{domain}};
  
  {% include 'roles/letsencrypt/templates/ssl_header.j2' %}

  {% if nginx_matomo_tracking | bool %}
    {% include 'roles/nginx-matomo-tracking/templates/matomo-tracking.conf.j2' %}
  {% endif %}

  charset utf-8;
  
  location /
  {
    root {{nginx_homepage_root}};
    index index.html index.htm;
  }

  location /.well-known/ {
    alias {{nginx_well_known_root}};
    allow all;
    default_type "text/plain";
    autoindex on;
  }
}
