{
  "ExtensionInstallForcelist": [
    {% for plugin in applications | get_app_conf(application_id, 'chromium.plugins', True) -%}
    "{{ plugin.id }};{{ plugin.update_url }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "ExtensionSettings": {
    "*": {
      "installation_mode": "{{ applications | get_app_conf(application_id, 'default_installation_mode', True) }}"
    }
    {% for plugin in applications | get_app_conf(application_id, 'chromium.plugins', True) -%},
    "{{ plugin.id }}": {
      "installation_mode": "{{ plugin.installation_mode }}",
      "update_url": "{{ plugin.update_url }}",
      "incognito_mode": "{{ 'enabled' if plugin.incognito else 'disabled' }}"
    }
    {% endfor %}
  },
  "PasswordManagerEnabled": {{ applications | get_app_conf(application_id, 'password_manager_enabled', True) }}
}
