services:

{% include 'templates/docker/services/redis.yml.j2' %}

{% include 'templates/docker/services/' + database_type + '.yml.j2' %}

  web:
    image: 'gitlab/gitlab-ee:latest'
    restart: {{docker_restart_policy}}
    hostname: '{{domain}}'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://{{domain}}'
        postgresql['enable']                  = false
        gitlab_rails['gitlab_shell_ssh_port'] = {{ssh_port}}
        gitlab_rails['db_adapter']            = 'postgresql'
        gitlab_rails['db_encoding']           = 'utf8'
        gitlab_rails['db_host']               = '{{database_host}}'
        gitlab_rails['db_port']               = 5432
        gitlab_rails['db_username']           = '{{database_username}}'
        gitlab_rails['db_password']           = '{{database_password}}'
        gitlab_rails['db_database']           = "{{database_name}}"
        nginx['listen_port']                  = 80
        nginx['listen_https']                 = false

        gitlab_rails['initial_root_password'] = "{{gitlab_initial_root_password}}"
        
        redis['enable']                       = false
        gitlab_rails['redis_host']            = 'redis'
        gitlab_rails['redis_port']            = '6379'
    ports:
      - "127.0.0.1:{{http_port}}:80"
      - "{{ssh_port}}:22"
    volumes:
      - 'config:/etc/gitlab'
      - 'logs:/var/log/gitlab'
      - 'data:/var/opt/gitlab'
    shm_size: '256m'
{% include 'templates/docker/container/depends-on-database-redis.yml.j2' %}
{% include 'templates/docker/container/networks.yml.j2' %}

{% include 'templates/docker/compose/networks.yml.j2' %}

{% include 'templates/docker/compose/volumes.yml.j2' %}
  redis:
  config:
  logs:
  data:
