version: '3.6'
services:
  web:
    image: 'gitlab/gitlab-ee:latest'
    restart: always
    hostname: '{{domain}}'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://{{domain}}'
        postgresql['enable']                  = false
        gitlab_rails['gitlab_shell_ssh_port'] = {{ssh_port}}
        gitlab_rails['db_adapter']            = 'postgresql'
        gitlab_rails['db_encoding']           = 'utf8'
        gitlab_rails['db_host']               = '{{database_host}}'
        gitlab_rails['db_port']               = 5432
        gitlab_rails['db_username']           = '{{database_username}}'
        gitlab_rails['db_password']           = '{{database_password}}'
        gitlab_rails['db_database']           = "{{database_databasename}}"
        nginx['listen_port']                  = 80
        nginx['listen_https']                 = false

        gitlab_rails['initial_root_password'] = "{{gitlab_initial_root_password}}"
        
        redis['enable']                       = false
        gitlab_rails['redis_host']            = 'redis'
        gitlab_rails['redis_port']            = '6379'
    ports:
      - "127.0.0.1:{{http_port}}:80"
      - "{{ssh_port}}:22"
    volumes:
      - 'config:/etc/gitlab'
      - 'logs:/var/log/gitlab'
      - 'data:/var/opt/gitlab'
    shm_size: '256m'
    depends_on:
{% if not enable_central_database %}
      database:
        condition: service_healthy
{% endif %}
      redis:

{% include 'templates/docker-redis-service.yml.j2' %}

{% if not enable_central_database %}
{% include 'templates/docker-postgres-service.yml.j2' %}
{% endif %}

volumes:
  redis:
  config:
  logs:
  data:
{% if not enable_central_database %}
  database:
{% endif %}
